

<TableTemplate Items="SummaryVerseList">
	<TableHeader>
		<th class="text-info">Section</th>
		<th class="text-primary">Detail</th>
		<th class="text-danger">Verse Range</th>
		<th class="text-warning">Verse Count</th>
	</TableHeader>
	<RowTemplate>
		<td>
			@context.SectionId
@* 			<button type="button" class="btn btn-xs btn-outline-primary" title="@item.Value | @item.TriNum"
							@onclick="@(e => ButtonClick(item.Url))">
				<i class="fas fa-chevron-down"></i>
			</button> *@
		</td>
		<td>@context.RowCnt</td>
		<td>@context.VerseRange</td>
		<td>@context.VerseCount</td>
	</RowTemplate>
</TableTemplate>

@code {
	[Parameter, EditorRequired] public List<SummaryVM>? SummaryVerseList { get; set; }
}
