<div class="card border-warning mb-2">

	@* <div class="card-header"><h6>@nameof(Index)</h6></div> *@

	<div class="card-body pb-0">
		<div class="d-flex justify-content-start">

			<div class="pe-2">
				<div class="pe-3">
					<b>BegId:</b><br /> @($"{BegId}")
				</div>
			</div>

			<div class="pe-2">
				<div class="pe-3">
					<b>EndId:</b><br /> @($"{EndId}")
				</div>
			</div>

			<div class="pe-2">
				<div class="pe-3">
					<b>BegId2:</b><br /> @($"{BegId2}")
				</div>
			</div>

			<div class="pe-2">
				<div class="pe-3">
					<b>EndId2:</b><br /> @($"{EndId2}")
				</div>
			</div>

		</div>
	</div>

</div>




@code {
	[Parameter, EditorRequired] public long? BegId { get; set; }
	[Parameter, EditorRequired] public long? EndId { get; set; }
	[Parameter, EditorRequired] public long BegId2 { get; set; }
	[Parameter, EditorRequired] public long EndId2 { get; set; }

}
