@page "/VerseList"

@using MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Components.BibleLookup
@using MyHebrewBible.Client.Components.VerseSections
@using EnumCalledBy = MyHebrewBible.Client.Components.VerseSections.Enums.CalledBy
@using MyHebrewBible.Client.State.VerseList

@inject ILogger<Index>? Logger
@inject IVerseListState? state
@inject IToastService? Toast

<PageHeader PageEnum="@MyHebrewBible.Client.Enums.Nav.VerseList" />

<div class="@MediaQuery.Xs.DivClass">
	<Typeahead MediaQuery="@MediaQuery.Xs"
						 OnBookAndChapterSelected="@ReturnedBookChapterVerse"  />
</div>
<div class="@MediaQuery.Sm.DivClass">
	<Typeahead MediaQuery="@MediaQuery.Sm"
						 OnBookAndChapterSelected="@ReturnedBookChapterVerse" />
</div>
<div class="@MediaQuery.Md.DivClass">
	<Typeahead MediaQuery="@MediaQuery.Md"
						 OnBookAndChapterSelected="@ReturnedBookChapterVerse" />
</div>
<div class="@MediaQuery.Lg.DivClass">
	<Typeahead MediaQuery="@MediaQuery.Lg"
						 OnBookAndChapterSelected="@ReturnedBookChapterVerse" />
</div>
<div class="@MediaQuery.Xl.DivClass">
	<Typeahead MediaQuery="@MediaQuery.Xl"
						 OnBookAndChapterSelected="@ReturnedBookChapterVerse" />
</div>


@if (CurrentVM is not null)
{
	<div class="pb-n1 mt-2 mb-2 border-bottom border-info">
		<div class="d-flex justify-content-center">

			<div class="">
				<span class="fs-3">@CurrentVM.BibleBook!.Title @CurrentVM.Chapter : @CurrentVM.Verse</span>
			</div>

			<div class="ps-1">
				<PageInstructions />
			</div>

		</div>
	</div>
}


@if (CurrentVM is not null)
{
	<Sections VM="CurrentVM" CalledBy="EnumCalledBy.VerseList" />
}


@code {

	public Header? CurrentHeader { get; set; }

	public BookChapterVerseVM? CurrentVM { get; set; }

	protected override void OnInitialized()
	{
		Logger!.LogInformation("{Class}!{Method}", nameof(Index), nameof(OnInitialized));
		try
		{
			/*
			Header header = state!.GetHeader();
			CurrentHeader = new BookAndChapter(BibleBook.FromValue(_state.BibleBookId), _state.Chapter);
			*/
			DetailRecord bcv = state!.GetBCV();
			CurrentVM = new BookChapterVerseVM(BibleBook.FromValue(bcv.BibleBookId), bcv.Chapter, bcv.BegVerse);

		}
		catch (Exception ex)
		{
			Logger!.LogError(ex, "VerseList!{Class}!{Method}", nameof(Index), nameof(OnInitialized));
			Toast!.ShowError($"{Global.ToastShowError} {nameof(Index)}!{nameof(OnInitialized)}");
		}
	}

	private void ReturnedBookChapterVerse(BookChapterVerseVM vm)  //async Task
	{
		CurrentVM = vm!;
		//state!.UpdateHeader(new VerseListState(CurrentBookAndChapter.BibleBook!.Value, CurrentBookAndChapter.Chapter));
		state!.UpdateBCV(new DetailRecord(vm.BibleBook, vm.Chapter, vm.Verse, vm.Verse, "Just Got Updated"));
	}

}