@using BLBEnum=MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Helpers

<div class="card border-info my-2">

	<div class="card-body py-1">
		<p class="card-title">@HtmlGeneration.TranscriptHeader("A", "Nails or Keys and Sheol", "1:25")</p>
	</div>

	@*
	<div class="card-body py-1">
	<b>T-Bone</b>: I’m really interested in the divine orchard portion.
	</div>
	*@
	<div class="card-body py-1">

		<p class="card-text">
			<b>Nehemia</b>
			Right. Now, where you could say they’re similar is that a key is made of usually iron in ancient times,
			and it has more or less the shape of a nail, and that actually is not a coincidence.
			I looked into this, and I’m like, “Wow, <b>this is probably the most significant difference from the Greek text</b>.”

			And I couldn’t find any Greek text from what I was able to check, or even Aramaic.
			I looked everywhere.
			I couldn’t find anybody who has anything other than “key”, that has “nails”.

			<br />
			So, I looked at this word “nails”. It appears four times in the Tanakh, and it’s often related to doors.
			Actually, we have this expression in English, <b>“dead as a doornail”</b>.

			So, what is a doornail? So originally, a door was made of a series of planks,
			and you’d have a crossbar that would hold them together with nails.
			And then in later doors, the nail just became a decoration.
			In fact, I Googled “doornail” and I found modern doornails that are used as decorations.
			Like apparently, this is still a thing - a doornail.

			So, I think that’s interesting, that he’s talking about keys in the Greek
			, and in every other version and in Hebrew there’s a nail, and a nail can be associated with the door.
			But it doesn’t end there. So, in the Tanakh it’s related to doors.

			<br />
			The really interesting thing is, when I looked up “masmer” in
			<a href="https://www.sefaria.org/Jastrow?tab=contents">Jastrow</a>, that’s the dictionary of post-Biblical Hebrew,
			he has two fascinating references.

			What Jastrow does is he doesn’t just tell you what it means, he says,
			“Well, here are the texts the word is used in.”
			And that’s how we know what it means.
			We’re not telling the text what it means, we’re deriving the meaning from these Jewish texts.
			<br />

			So, the first text is the <b>Mishna</b>, and the Mishna in the tractate of <b>Shabbat</b>,
			it’s talking about Rabbinical law, you’re not allowed to carry something outside on the Sabbath.
			It’s considered work by the Mishna to carry something outside on the Sabbath, and they say,
		</p>

		<p class="ps-5">
			<i class="fas fa-quote-left"></i> Well, what about carrying the nail of a crucifixion victim?
		</p>

		<p>
			I mean, isn’t it incredible? They’re talking in the Mishna that <b>this was a thing!</b> [laughing]
		</p>

		<p class="card-text">
			<b>AJ Bernard</b>: Wow. <sup>4:20</sup>
		</p>

		<p class="card-text">
			<b>Nehemia</b>:
			<b>People walked around carrying the nail of a crucifixion victim</b>.
			The assumption by most people who read this is that it imparted them with some kind of protection or luck.
			But <b>maybe these were Jews who believed in Yeshua, because we’re talking in the 2nd century</b>,
			you know how many Christians would walk around wearing a cross?
			Maybe they walked around carrying a crucifixion nail in their pocket,
			because they believed in Yeshua. I don’t know. Isn’t that incredible?
		</p>
	</div>

	<div class="card-body py-1">
		<p class="card-text">
			<b>AJ Bernard</b>: Awesome. That’s awesome. <sup>4:43</sup>
			Now, there’s also the verse in Isaiah 22:2<strike>3</strike> [JKM AJ misquoted this verse, it was Isaiah 22:2<b>2</b>] @BLBEnum.BLB.KJV.AnchorBCV(Enums.BibleBook.Isaiah.Value, 22, 22),
		</p>

		<p class="card-text bg-info-subtle mt-3 ps-4">
			<i class="fas fa-quote-left"></i>
			I will place on his shoulder the <b>key</b> <span class="@HebrewSize">מַפְתֵּחַ</span> @Enums.BibleAnchors.StrongsH(4668, "map̄tēaḥ", superscript: true) of the house of David.
			He shall open and none shall shut. He shall shut and none shall open.
		</p>


	
		@* H4668 KJC: Judges 3:25; 1 Chronicles 9:27 and this verse Isaiah 22:22 *@

		<p class="card-text">
			<b>JKM</b>: The verse that AJ misquoted however is <b>very relevant</b>, Isaiah 22:22 @BLBEnum.BLB.KJV.AnchorBCV(Enums.BibleBook.Isaiah.Value, 22, 23)
		</p>

		<p class="card-text bg-info-subtle mt-3 ps-4">
			<i class="fas fa-quote-left"></i>
			And I will fasten him as a <b>nail</b> <span class="@HebrewSize">בְּמָקוֹם</span> @Enums.BibleAnchors.StrongsH(3489, "yāṯēḏ", superscript: true) in a sure place; and he shall be for a glorious throne to his father's house.
		</p>

	</div>

	<!--
			H3489 KJC:
		Exo 27:19; 27:19; 27:19; 35:18; 38:20; 38:20; 38:21; 38:31; 39:40; 39:40
		Num 3:37; 3:37; 4:32; 4:32
		Deu: 23:14; 23:14; 23:14
		Judges 4:21; 4:21; 4:22; 5:26; 16:14; 16:14; 16:14
		Ezra 9:8
		Job 4:21
		Isaiah 22:23; 22:24; 33:20; 33:20; 54:2; 54:2
		Ezekiel 15:3
		Zechariah 10:4
	
	-->
	
	<!--
	2:15

	AJ Bernard: I don’t know. The Greek word here is “kleis” or “klace” which means alternatively, “key” and “to shut”. And so there is,
	if not a linguistic similarity, at least a functional similarity between a key and a nail, because they both shut things.

	Nehemia: That sounds like you’re… [laughing]

	AJ Bernard: Is it? Okay.

	Nehemia: I mean, that sounds like you’re grasping at nails there. I mean, “They both shut things.”
	So, if he said, “I have here the chair of the Sheol and hades,” you could say, “Well, you put a chair up against the door to shut it, right?”

	AJ Bernard: [laughing] That may be going a little far.

	JKM: I don't know if AJ in fact had a valid point about functional aspect of key and nail, but if he would have read both verses,
	there's a close proximity to in Isaiah 22:22-23
	 -->

	<div class="card-body py-1">
		<p class="card-title">@HtmlGeneration.TranscriptHeader("D", "Mathew 16:18-19 Gates of Hell, Keys, Bind", "4:50")</p>
	</div>

	<div class="card-body py-1">
		<p class="card-text">
			<b>AJ Bernard</b>: connects Isaiah 22:22-23 to @BLBEnum.BLB.KJV.AnchorBCV(Enums.BibleBook.Matthew.Value, 16, 18) and @BLBEnum.BLB.KJV.AnchorBCV(Enums.BibleBook.Matthew.Value, 16, 19).
		</p>

		<p class="card-text bg-info-subtle mt-3 ps-4">
			<i class="fas fa-quote-left"></i>
			I tell you, you are Peter, and on this rock I will build my Church and the <b>gates</b> @Enums.BibleAnchors.StrongsG(4439, "pylē") of <b>hell</b> @Enums.BibleAnchors.StrongsG(86, "hadēs") shall not prevail against it.
			I will give you the <b>keys</b> @Enums.BibleAnchors.StrongsG(2807, "kleis") of the kingdom of heaven and whatever you <b>bind</b> @Enums.BibleAnchors.StrongsG(1210, "deō") on earth shall be <b>bound</b> @Enums.BibleAnchors.StrongsG(1210, "deō") in heaven, and whatever you loose on earth shall be loosed in heaven.
		</p>

		<p class="card-text">
			<b>Nehemia</b>:
			So, this can’t be a coincidence. We have a passage here where Yeshua’s talking about keys, and it’s immediately after talking about the gates of hell.
			It’s the keys of the kingdom and the gates of hell, and those keys open up a door that lets you into the kingdom, presumably.
			So, that connection to the gates of hell is very interesting, and I think it ties into Revelation, where he says, “I have the keys of death and Sheol.”
			So, maybe those are, at least from the Greek, the keys that maybe get you out of Sheol and death?
			No, I’m not trying to be funny, like isn’t that what it means in the Greek?
		</p>


	</div>

	<div class="card-body py-1">
		<p class="card-title">@HtmlGeneration.TranscriptHeader("E", "John 20:25 ", "6:50")</p>
	</div>

	<div class="card-body py-1">

		<p class="card-text">
			<b>Nehemia</b>:
			Like that’s the contextual, literal meaning of the Greek. You’re going to be in Sheol,
			which is the place in the Tanakh where you sleep after you’re dead, and I’ve got keys that you can get out of there.
			I think that’s what it’s saying in the Greek. And here in the Hebrew it’s the nails.
			So what’s your immediate association when you hear a figure that presumably is Yeshua, he says,
			“I was dead and now I’m alive,” and he has nails; what’s the immediate association, without overthinking this?
		</p>

		<p class="card-text">
			<b>AJ Bernard</b>: The cross, the nails of the cross.
		</p>

		<p class="card-text">
			<b>Nehemia</b>:
			The nails of the crucifixion.
			In fact, I looked up the word <b>“nails”</b> in the New Testament, and I believe the only passage it appears is in John, at least in the plural.
		</p>

		<p class="card-text">
			<b>AJ Bernard</b>: reads @BLBEnum.BLB.KJV.AnchorBCV(Enums.BibleBook.John.Value, 20, 25).
		</p>

		<p class="card-text bg-info-subtle mt-3 ps-4">
			<i class="fas fa-quote-left"></i>
			So the other disciples told him, ‘We have seen the Lord.’
			But he said to them, ‘Unless I see in His hands the marks of the <b>nails</b> @Enums.BibleAnchors.StrongsG(2247, "hēlos")
			and place my finger in the marks of the <b>nails</b>,
			and place my hand into his side, I will never believe.’” <sup>[This is Thomas speaking.]</sup>
		</p>

		<p class="card-text">
			<b>Nehemia</b>: Right, and the word there is “eilon”. We have a related word in @BLBEnum.BLB.KJV.AnchorBCV(Enums.BibleBook.Colossians.Value, 2, 14).
		</p>

		<p class="card-text bg-info-subtle mt-3 ps-4">
			<i class="fas fa-quote-left"></i>
			Blotting out the <b>handwriting</b> @Enums.BibleAnchors.StrongsG(5498, "cheirographon") of <b>ordinances</b> @Enums.BibleAnchors.StrongsG(1378, "dogma") that was against us which was contrary to us,
			and took it out of the way, <b>nailing</b> @Enums.BibleAnchors.StrongsG(4338, "prosēloō") it to His cross.”
		</p>

		<p class="card-text">
			<b>Nehemia</b>: And the word there is “proseluses,” which is the verb form of nail, just like in the English.
			So, we have those two references to nails in the New Testament and they’re both related to the cross,
			and here, all of a sudden in a third place in Revelation (1:18),
			in Hebrew we have Yeshua showing up and saying, <b>“Hey, I’ve got the nails to death and Sheol.</b>”
		</p>

	</div>

	@* <div class="card-body py-1"></div> *@

	<div class="card-footer">
		<b>JKM References</b>
		<br />
		<ul>
			<li>These are my notes taken from the "Hebrew Manuscript of the Book of Revelation Part 2" Audio</li>
			<li><a href="https://myhebrewbible5.blob.core.windows.net/mhb-container/Article/Word-Study-G5498-cheirographon-Col-2-14-Handwriting-Bill-of-Divorce.pdf">Word Study G5498 cheirographon Col 2:14 Handwriting - the Bill of Divorce</a></li>
			<li>
				<ul>
					<li>
						G5498 <i>cheirographon</i>  neuter of a compound of G5495 and G1125; something hand-written ("chirograph"), i.e. a manuscript (specially, a <mark>legal document or bond</mark> (figuratively)):—handwriting.
					</li>
					<li>
						In extra biblical sources, this word means "...is a <b>legal term</b>. It is a word that was used to refer to the <b>written evidence of a person's
						guilt in a courtroom</b>. It is the <b>written record of a person's crimes</b>. Source a article by Botkin
					</li>
				</ul>
			</li>
		</ul>
	</div>

</div>


@code {
	string HebrewSize = "hebrew"; // hebrew30
}
