@using MyHebrewBible.Client.Helpers
@using MyHebrewBible.Client.Features.Translations.NGIHR

<Verse2ColGridTemplate VerseNumber="8" VerseHebrew="ח" AddGridHeader="false">
	<Col1>
		I am the <span class="@AlephTavCSS">Aleph</span> and the <span class="@AlephTavCSS">Tav</span>,
		<a @onclick="@(e => ToggleClick())" class="text-danger" title="Make the Aleph and Tav be Black">
			<sup><i class="@Icon.Toggle.Get(ShowRed)"></i></sup>
		</a>
		says <span class="fw-bold">Yehovah</span> <span class="@HebrewSize">יְּהֹוָה</span> <span class="fw-bold">the Elohim</span> <span class="@HebrewSize">הָאֶלֹחִים</span>.
		He that is, and he was will be, and he that will come, the Shaddai.
	</Col1>
	<RowKJV>
		I am <mark>Alpha</mark> and <mark>Omega</mark>, the beginning and the ending, saith the Lord,
		which is, and which was, and which is to come, the Almighty @Enums.BibleAnchors.StrongsG(3841, "pantokratōr") [<span class="@HebrewSize">שַׁדַּי</span> @Enums.BibleAnchors.StrongsH(7706, "shaddai")].
	</RowKJV>
	<Col2>
		אֲנִי הָאָלֶף וְהַתָּו אֹמֵר יְּהֹוָה הָאֶלֹחִים חוֹיֶה וַיִּחְיֶה וְשֶׁיָּבוֹא הַשַּׁדָּי:
	</Col2>

</Verse2ColGridTemplate>

@code {
	[Parameter, EditorRequired] public bool ShowRed { get; set; }
	[Parameter, EditorRequired] public EventCallback<bool> OnShowRedSelected { get; set; }

	string HebrewSize = "hebrew"; // hebrew30
	string AlephTavCSS => ShowRed ? "fw-bold text-danger" : "";

	private void ToggleClick()
	{
		ShowRed = !ShowRed;
	}

}
