@inject ApiClient Api

@if (hebrewWords == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table table-sm table-hover table-success mt-2">
		<thead>
			<tr>
				<th class="text-end">Hebrew</th>
				<th>KJV / Trans.</th>
				<th>Strong's</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in hebrewWords)
			{
				<tr>
					<td class="text-end">@((MarkupString)@item.Hebrew) </td>
					<td>
						<small>@item.KjvWord <br /><i>@item.Transliteration</i></small>
					</td>
					<td><text>H</text>@item.Strongs</td>
					<td>
						<button type="button" class="mt-1 btn btn-success btn-sm" @onclick="@(e => ButtonClick(item.Hebrew1))">
							<i class="fas fa-plus"></i>
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>

}

@code {
	[Parameter, EditorRequired] public long ScriptureId { get; set; }
	[Parameter, EditorRequired] public long Strongs { get; set; }
	[Parameter] public EventCallback<string?> OnHebrewSelected { get; set; }

	private ICollection<WordPart>? hebrewWords = null;

	protected override async Task OnParametersSetAsync()
	{
		hebrewWords = await Api.GetWordPartByStrongsAsync(ScriptureId, Strongs); 
	}


	private void ButtonClick(string hebrew)  
	{
		OnHebrewSelected.InvokeAsync(hebrew);
	}

}
