@inject ApiClient Api

@* <SectionsDebug FocusScriptureId="@FocusScriptureId" VerseRowCount="@VerseRowCount" WordCount="@WordCount" Strongs="@Strongs" Hebrew="@Hebrew" Msg="@_msg" /> *@

@if (verses == null)
{
	<p><em>Loading verses...</em></p>
}
else
{
	if (FocusScriptureId == 0)
	{
		<ParagraphTop TopVerses="versesTop" OnVerseSelected="ReturnedVerse" />
	}
	else
	{
		@if (versesTop is not null)
		{
			<ParagraphTop TopVerses="versesTop" OnVerseSelected="ReturnedVerse" />
		}
		else
		{
			<p><b>versesTop:</b> is null</p>
		}

		<WordSegmentsCard ScriptureId="FocusScriptureId"
											WordCount="WordCount"
											OnStrongsSelected="ReturnedStrongs" />

		@if (Strongs is not null)
		{
			<HebrewTable ScriptureId="FocusScriptureId"
									 Strongs="Strongs2"
									 OnHebrewSelected="ReturnedHebrew" />
		}


		@if (versesBottom is not null)
		{
			<ParagraphBottom BottomVerses="versesBottom" OnVerseSelected="ReturnedVerse" />
		}
		else
		{
			<p><b>versesBottom:</b> is null</p>
		}

	}

}


@code {
	[Parameter, EditorRequired] public BookAndChapter? BookAndChapter { get; set; }

	protected long FocusScriptureId; // = 0;
	protected long VerseRowCount; // = 0;
	protected long WordCount; // = 0;
	protected long TopRC = 0;
	protected long BottomRC = 0;
	protected long? Strongs = null;
	protected long Strongs2 = 0;
	protected string? Hebrew;

	public List<BookChapter>? versesTop;
	public List<BookChapter>? versesBottom;

	private ICollection<BookChapter>? verses = null;

	protected string _msg = nameof(Sections);

	protected override async Task OnParametersSetAsync()
	{
		FocusScriptureId = 0;

		if (BookAndChapter is not null && BookAndChapter!.BibleBook is not null)
		{
			_msg = $"Inside {nameof(OnParametersSet)}, setting verses and VerseRowCount";
			verses = await Api!.GetBookChapterAsync((long)BookAndChapter!.BibleBook, (long)BookAndChapter.Chapter);
			VerseRowCount = verses.Count;
			PopulateTopAndBottom(VerseRowCount);
		}
	}

	private void ReturnedVerse(ScriptureIdAndWordCount scriptureIdAndWordCount)
	{
		FocusScriptureId = scriptureIdAndWordCount.ScriptureID;
		WordCount = scriptureIdAndWordCount.WordCount;
		PopulateTopAndBottom(WordCount);
	}

	private void PopulateTopAndBottom(long verseSplit)
	{
		versesTop = verses!.Where(w => w.Verse < verseSplit).OrderBy(o => o.Verse).ToList();
		TopRC = versesTop.Count();

		if (FocusScriptureId != 0)
		{
			versesBottom = verses!.Where(w => w.Verse > verseSplit).OrderBy(o => o.Verse).ToList();
			BottomRC = versesBottom.Count();
		}
	}


	private void ReturnedStrongs(long? strongs)
	{
		Strongs = strongs;
		Strongs2 = Strongs2 = Strongs ?? default(long);
	}

	private void ReturnedHebrew(string hebrew)
	{
		Hebrew = hebrew;
	}


}
