@page "/Teaching/CovenantsAndContracts"

@using Page = MyHebrewBible.Client.Features.Teaching.BreadCrumbLinks

<PageTitle>@Page.CovenantsAndContracts.Title</PageTitle>

<BreadCrumbs Href="@Page.Parent.Index" 
						 ParentTitle="@Page.Parent.Title" 
						 Title="@Page.CovenantsAndContracts.Title" 
						 IconMarkup="@Page.CovenantsAndContracts.IconMarkup"
						 ParentPage="@Enums.Nav.Teaching">
</BreadCrumbs>


@*
 MyHebrewBible.Client.GlobalEnums.Link
<PageHeader Page="@GlobalEnums.Link.Teaching" />
*@

Task 1194 Contracts and Covenants Study with John 4.3.2018

<h2>Preface</h2>
<p>It was suggested from last week’s discussion (Tuesday March 27, 2018) <a href="https://youtu.be/jra7LpNf09o?t=8m18s" target="_blank">	on Two House</a>, that this topic be broached.</p>

<h2>Outline</h2>
<p>
	Start off with these things as a presupposition found in <b>"Marsing's Rules"</b>
	<ol>
		<li>The weightiest thing</li>
		<li>Covenants at the spiritual level can be understood at the physical level in the form of a marriage covenant</li>
		<li>Covenants are a special form of contract, but a contract none the less</li>
		<li>Great Clarity in your studies</li>
		<li>Elements of a contract, what are they <sup>pg. 5</sup></li>
		<li>If you have a contract, you have authority</li>
	</ol>
</p>

<p>
	Give an example in the timely discussion of the Passover lamb and the blood on the door post
	<ol>
		<li>Exo 12:23 and the angel of death</li>
		<li>Trespass</li>
		<li>Take out a policy called <u>Angel of Death Insurance</u></li>
		<li><i>Quo Warranto</i></li>
		<li>Patterns of the <b><i>mezuzah</i></b> <sup>Deuteronomy 6:9</sup></li>
		<li>PaRDeS - Remez to Gen 4 <b>sin is at your door</b></li>
		<li>Torah is a list of sins</li>

	</ol>
</p>

<h2>Referenced Articles</h2>

<ol>
	<li>Reference Article: <a href="https://myhebrewbible.com/Article/501">Marsing's Rules Article #501</a></li>
</ol>