@page "/Teaching/Identity"

@*http://onemilliontracts-com.3dcartstores.com/Get-Out-Of-Hell-Free-Chance-Gospel-Tract--100ct-pckg-2-x-3-12_p_138.html*@

@using Page = MyHebrewBible.Client.Features.Teaching.BreadCrumbLinks

<PageTitle>@Page.Identity.Title</PageTitle>

<BreadCrumbs Href="@Page.Parent.Index"
						 ParentTitle="@Page.Parent.Title"
						 Title="@Page.Identity.Title"
						 IconMarkup="@Page.Identity.IconMarkup"
						 ParentPage="@Enums.Nav.Teaching">
</BreadCrumbs>

@*
 MyHebrewBible.Client.GlobalEnums.Link
<PageHeader Page="@GlobalEnums.Link.Teaching" />

<small>My notes on the topic of Identity (August 4<sup>th</sup> 2018) <sup class="float-right">Who are you! Who the blessed are you!</sup></small>
*@

<p>
	I decided to do this topic after the work I have been put in to modifying the LMM website so that it can better manage Sukkot registration.
	From a technical point of view what was needed to pull this off was a couple of things…a database and the ability to manage logins i.e. peoples identity.
	I was very comfortable working with databases, but not as much with <em>identity</em>.
	<br />	<br />I would say that being a programmer who writes code that emulates the world around us, I’m always amazed how
	I can relate and transfer this skill set into writing about scripture.
	I had some opinions on identity as it relates to scripture, so this is my introduction to the topic.
</p>

<h4>Bullet Points</h4>
<ol>

	<li><b>Why Identity?</b></li>
	<li>
		<b>Identity Politics</b> is this good or bad?<br />
		related
		<ul>
			<li>Better title...Identity Religion?</li>
			<li><u>Biblical-identity-in-an-age-of-identity-politics</u> (a working document)</li>
		</ul>

	</li>

	<li>How would Identify myself</li>
	<li>Awareness of your Identity leads you to the awareness of your covenant.</li>
	<li>Is it wise to let other identify who you are?</li>
	<li>What are the ramifications (e.g. legal) of letting others Identify you.</li>

	<li>
		<b>Identity Theft</b>
		<ul>
			<li>It is amazing how this has become a problem in the information world that we live in.</li>
			<li>Jacob and Esau</li>
			<li>What was the source of Jacob's Trouble</li>
			<li>If you steal someone's identity does that reflect poorly on your own identity</li>
		</ul>

	</li>

	<li>...</li>
</ol>
