@page "/Teaching"

@rendermode InteractiveWebAssembly
<PageHeader PageEnum="@MyHebrewBible.Client.Enums.Nav.Teaching" />

<div class="list-group">

	<a href="@BreadCrumbLinks.TwoHouse.Index"
		 title="@BreadCrumbLinks.TwoHouse.Title"
		 class="list-group-item list-group-item-success">
		@BreadCrumbLinks.TwoHouse.IconMarkup
		&nbsp;<b>#@BreadCrumbLinks.TwoHouse.SortOrder</b>: @BreadCrumbLinks.TwoHouse.Title
		<span class="float-end"><i class="fa fa-chevron-circle-right fa-2x"></i></span>
	</a>

	<a href="@BreadCrumbLinks.CovenantsAndContracts.Index"
		 title="@BreadCrumbLinks.CovenantsAndContracts.Title"
		 class="list-group-item list-group-item-success">
		@BreadCrumbLinks.CovenantsAndContracts.IconMarkup
		&nbsp;<b>#@BreadCrumbLinks.CovenantsAndContracts.SortOrder</b>: @BreadCrumbLinks.CovenantsAndContracts.Title
		<span class="float-end"><i class="fa fa-chevron-circle-right fa-2x"></i></span>
	</a>

	<a href="@BreadCrumbLinks.BiblicalBanking.Index"
		 title="@BreadCrumbLinks.BiblicalBanking.Title"
		 class="list-group-item list-group-item-light">
		@BreadCrumbLinks.BiblicalBanking.IconMarkup
		&nbsp;<b>#@BreadCrumbLinks.BiblicalBanking.SortOrder</b>: @BreadCrumbLinks.BiblicalBanking.Title
		<span class="float-end"><i class="fa fa-chevron-circle-right fa-2x"></i></span>
	</a>

	<a href="@BreadCrumbLinks.TorahGatedCommunity.Index"
		 title="@BreadCrumbLinks.TorahGatedCommunity.Title"
		 class="list-group-item list-group-item-light">
		@BreadCrumbLinks.TorahGatedCommunity.IconMarkup
		&nbsp;<b>#@BreadCrumbLinks.TorahGatedCommunity.SortOrder</b>: @BreadCrumbLinks.TorahGatedCommunity.Title
		<span class="float-end"><i class="fa fa-chevron-circle-right fa-2x"></i></span>
	</a>

	<a href="@BreadCrumbLinks.ConservatismFailure.Index"
		 title="@BreadCrumbLinks.ConservatismFailure.Title"
		 class="list-group-item list-group-item-light">
		@BreadCrumbLinks.ConservatismFailure.IconMarkup
		&nbsp;<b>#@BreadCrumbLinks.ConservatismFailure.SortOrder</b>: ConservatismFailure
		<span class="float-end"><i class="fa fa-chevron-circle-right fa-2x"></i></span>
	</a>

	<a href="@BreadCrumbLinks.MarsingsRules.Index"
		 title="@BreadCrumbLinks.MarsingsRules.Title"
		 class="list-group-item list-group-item-light">
		@BreadCrumbLinks.MarsingsRules.IconMarkup
		&nbsp;<b>#@BreadCrumbLinks.MarsingsRules.SortOrder</b>: MarsingsRules
		<span class="float-end"><i class="fa fa-chevron-circle-right fa-2x"></i></span>
	</a>

	<a href="@BreadCrumbLinks.Identity.Index"
				 title="@BreadCrumbLinks.Identity.Title"
		 class="list-group-item list-group-item-success">
		@BreadCrumbLinks.Identity.IconMarkup
		&nbsp;<b>#@BreadCrumbLinks.Identity.SortOrder</b>: Identity
		<span class="float-end"><i class="fa fa-chevron-circle-right fa-2x"></i></span>
	</a>

</div>

