
@using MyHebrewBible.Client.Enums

<footer class="text-center bg-light text-muted w-100 mt-3">

	<div class="row mt-0">
		<div class="col-6">
			<div class="d-flex justify-content-start">
				@foreach (var item in NavSocialMedia.List.ToList())
				{
					<a href="@item.Href" class="ms-3 text-reset" title="@item.Title" target="_blank">
						<i class="@item.Icon"></i>
					</a>
				}
			</div>
		</div>
		<div class="col-6">
			<div class="d-flex justify-content-end">
				@foreach (var item in Nav.List.ToList()
						.Where(w => w.IsPartOfList(PageListType.Footer))
						.OrderBy(o => o.Sort))
				{
					<a href="@item.Index" class="me-3 text-reset" title="@item.Title">
						<i class="@item.Icon"></i>
					</a>
				}
			</div>

		</div>
	</div>

	
	 <img src="/images/footer.jpg" class="img-fluid" /> 

</footer>

