@inherits LayoutComponentBase
<BlazoredToasts />

<div class="container-fluid ">
	@Body
</div>

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>

<div class="@GlobalEnums.MediaQuery.Xs.DivClass"><FooterAlephBet MediaQuery="GlobalEnums.MediaQuery.Xs" /></div>
<div class="@GlobalEnums.MediaQuery.Sm.DivClass"><FooterAlephBet MediaQuery="GlobalEnums.MediaQuery.Sm" /></div>
<div class="@GlobalEnums.MediaQuery.Md.DivClass"><FooterAlephBet MediaQuery="GlobalEnums.MediaQuery.Md" /></div>
<div class="@GlobalEnums.MediaQuery.Lg.DivClass"><FooterAlephBet MediaQuery="GlobalEnums.MediaQuery.Lg" /></div>
<div class="@GlobalEnums.MediaQuery.Xl.DivClass"><FooterAlephBet MediaQuery="GlobalEnums.MediaQuery.Xl" /></div>

<FooterAbout />

@code {
}