@using MyHebrewBible.Client.Helpers
@using MyHebrewBible.Client.Components.Toolbar

@if (Forward)
{
	if (Section < Enums.Content.List.Count)
	{
		<button type="button" class="btn @BtnOutlineColors.Primary @BtnSize.Md @Margin"
						title="Section: @Section"
						@onclick="ButtonClick">
			<i class="@Icon"></i>
		</button>
	}
	else
	{
		<OnEdgeButton />
	}
}
else
{
	if (Section != 1)
	{
		<button type="button" class="btn @BtnOutlineColors.Primary @BtnSize.Md @Margin"
						title="Section: @Section"
						@onclick="ButtonClick">
			<i class="@Icon"></i>
		</button>
	}
	else
	{
		<OnEdgeButton />
	}
}

@code {
	[Parameter, EditorRequired] public int Section { get; set; }
	[Parameter, EditorRequired] public bool Forward { get; set; }
	[Parameter, EditorRequired] public EventCallback<int> OnSectionSelected { get; set; }

	private string Icon => Forward ? "fas fa-arrow-right" : "fas fa-arrow-left";
	private string Margin => Forward ? "me-1" : "ms-1";

	private void ButtonClick()
	{
		if (Forward)
		{
			OnSectionSelected.InvokeAsync(Section + 1);
		}
		else
		{
			OnSectionSelected.InvokeAsync(Section - 1);
		}
	}
}

