@using MyHebrewBible.Client.Helpers

@if(IsVisible)
{
	<div class="modal show" style="display:block;">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header @BgAndText.Warning">

					<p class="fs-5 modal-title">Table of Contents</p>
					 <button type="button" class="close" @onclick="ButtonClickClose"><span>&times;</span></button> 
				</div>

				<div class="modal-body @BgAndText.WarningSubtle">
					<ol class="fs-5">
						@foreach (var item in Enums.Content.List.OrderBy(o => o.Value))
						{
							<li>
								<a class="text-decoration-underline"
									 @onclick="@(() => ButtonClickSelect(item.Value))"
									 title="@item.Value">
									@item.Title
								</a>
							</li>
						}
					</ol>

				</div>
			</div>
		</div>
	</div>
}

@code {
	[Parameter, EditorRequired] public bool IsVisible { get; set; }
	[Parameter, EditorRequired] public EventCallback<int> OnSectionSelected { get; set; }
	[Parameter, EditorRequired] public EventCallback OnClose { get; set; }

	private void ButtonClickClose()
	{
		OnClose.InvokeAsync();
	}

	private void ButtonClickSelect(int value)
	{
		OnSectionSelected.InvokeAsync(value);
	}
}
