@using BibleBookEnum = MyHebrewBible.Client.Enums;

@inject ILogger<Picker>? Logger

@if (ModalIsNotShownToggle)
{
	<button type="button" class="btn btn-info" title="@bcvTitle"
					@onclick="() => ShowModal()">
		@Title <i class="fas fa-angle-down"></i>
	</button>
}
else
{
	<div class="@modalClass" style="display:@(modalOpen?"block":"none");">
		<div class="modal-dialog @modalSize">
			<div class="modal-content @modalContentColor">
				<div class="modal-header @modalHeaderColor">

					<p>Select a Book</p>

					<button type="button" class="close" @onclick="CloseModal">
						<span>&times;</span>
					</button>
				</div>

				<div class="modal-body @modalBodyColor">

					<BlazoredTypeahead SearchMethod="SearchBibleBooks"
														 TValue="BibleBookEnum.BibleBook"
														 TItem="BibleBookEnum.BibleBook"
														 Value="SelectedBook"
														 ValueChanged="SelectedBookChanged"
														 ValueExpression="@(() => SelectedBook)"
														 EnableDropDown="true"
														 MaximumSuggestions="66"
														 MinimumLength="1"
														 placeholder="Search bible...">
						<SelectedTemplate Context="mycontext">
							<span class="fs-4">@mycontext!.Title</span>
						</SelectedTemplate>
						<HelpTemplate>
							Please enter at least 1 characters to perform a search.
						</HelpTemplate>
						<ResultTemplate Context="mycontext">
							<div class="d-flex justify-content-between">
								@mycontext!.Title
							</div>
						</ResultTemplate>
					</BlazoredTypeahead>

				</div>

				<div class="modal-body pt-0 @modalBodyColor">
					<ButtonWrapper BibleBook="SelectedBook" OnBCVSelected="ReturnedBCV" />
				</div>

				@* 				<div class="modal-footer @modalFooterColor">	</div> *@

			</div>
		</div>
	</div>
}

@code {
	[Parameter, EditorRequired] public BookChapterVerse? CurrentBCV { get; set; }
	[Parameter] public EventCallback<BookChapterVerse> OnBCVSelected { get; set; }

	protected BibleBookEnum.BibleBook? SelectedBook { get; set; }
	protected BookChapterVerse? SelectedBCV { get; set; } // why do I need this???

	string Title => $"{CurrentBCV!.BibleBook!.Title} {CurrentBCV.Chapter}";
	private string bcvTitle = "";

	protected override void OnParametersSet()
	{
		if (CurrentBCV is not null && CurrentBCV.BibleBook is not null)
		{
			SelectedBook = CurrentBCV!.BibleBook;
			SelectedBCV = CurrentBCV;
		}
	}

	private async Task<IEnumerable<BibleBookEnum.BibleBook>> SearchBibleBooks(string searchText)
	{
		return await Task.FromResult(BibleBookEnum.BibleBook.List
			.Where(x => x.Title.ToLower().Contains(searchText.ToLower()))
			.OrderBy(o => o.Value));
	}

	private void SelectedBookChanged(BibleBookEnum.BibleBook? bibleBook)
	{
		if (bibleBook is not null)
		{
			//Logger!.LogInformation("{Method}, BibleBook: {BibleBook}", nameof(SelectedBookChanged), bibleBook.Name);
			// Tab to the next field
			SelectedBook = bibleBook;
			SelectedBCV = SelectedBCV! with { BibleBook = bibleBook };
		}
	}

	//private async Task ReturnedBCV(BookChapterVerse bcv)
	private void ReturnedBCV(BookChapterVerse bcv)
	{
		SelectedBCV = bcv;
		bcvTitle = $"{bcv.BibleBook?.Abrv} {bcv.Chapter}:{bcv.Verse} ";
		Logger!.LogInformation("{Method}, BibleBook: {BibleBook}", nameof(ReturnedBCV), bcv);
		//await Task.Delay(2000);  // ToDo: comment this out in production
		CloseModal();
		OnBCVSelected.InvokeAsync(SelectedBCV);
		//await OnBCVSelected.InvokeAsync(SelectedBCV);
	}

	#region Show-Close
	void ShowModal()
	{
		modalOpen = true;
		ModalIsNotShownToggle = false;
		modalClass += " show";
		StateHasChanged();
	}

	void CloseModal()
	{
		modalOpen = false;
		ModalIsNotShownToggle = true;
		modalClass = "modal";
	}
	#endregion

	#region chrome
	bool modalOpen = false;
	string modalClass = "modal";
	string modalSize => "modal-sm"; // MediaQuery == MediaQuery.Xs ? "modal-sm" : "modal-md";
	string modalHeaderColor = "bg-warning";
	string modalContentColor = " border-danger";
	string modalBodyColor = "";  // bg-warning-subtle
	string modalFooterColor = "bg-dark-subtle text-black-50";  //  bg-light
	bool ModalIsNotShownToggle = true;
	#endregion
}
