@using Microsoft.AspNetCore.Components.QuickGrid
@using MyHebrewBible.Client.Enums

@inject IToastService? Toast


 <div class="card border-info">
	<div class="card-header">
		<div class="d-flex justify-content-between">
			<div>
				<i class="fas fa-filter"></i> @TorahBookFilter!.Name <i>@TorahBookFilter!.BibleBook.TransliterationInHebrew</i>
			</div>
			<div>
				<span class="hebrew">@TorahBookFilter!.BibleBook.NameInHebrew</span>
			</div>

		</div>

	</div>

	<QuickGrid Items="@items">
		<PropertyColumn Property="@(p => p.TorahAbrv)" Title="Torah" />
		<PropertyColumn Property="@(p => p.Date.ToString(DateFormat.YYYY_MM_DD))" Align="Align.Center" Title="Date" />
		<PropertyColumn Property="@(p => p.ParashaName)" Sortable="false" Align="Align.Left" Title="Parasha Name" />
		<PropertyColumn Property="@(p => p.Haftorah)" Sortable="false" Align="Align.Left" />
		<PropertyColumn Property="@(p => p.Brit)" Sortable="false" Align="Align.Left" />
	</QuickGrid>
</div>

@code {
	IQueryable<Enums.Ahavta>? items; 

	[Parameter, EditorRequired] public TorahBookFilter? TorahBookFilter { get; set; }


	protected override void OnParametersSet()
	{
		items = Enums.Ahavta.List.Where(w => w.TorahBookFilter == TorahBookFilter!.Value).OrderBy(o => o.Date).AsQueryable();
	}

}
