@using GlobalEnums = MyHebrewBible.Client.Enums
@using ParashaEnums = MyHebrewBible.Client.Features.Parasha.Enums

<div class="card">

	<div class="card-body pb-0">
		<div class="d-flex justify-content-start">
			<div class="pe-3 text-center"><b>Torah</b><br /><b>@CurrentReading!.TorahAbrv</b></div>
			<div class="pe-3 text-center"><b>Next Shabbat</b><br /><b>@ParashaEnums.Constants.GetNextShabbatDate().ToString(DateFormat.YYYY_MM_DD)</b></div>

			@if (MediaQuery == GlobalEnums.MediaQuery.MdOrLgOrXl)
			{
				<div class="pe-3 text-center"><b>Name</b><br /><i>@CurrentReading!.ParashaName</i></div>
				<div class="pe-3 text-center"><b>Meaning</b><br />@CurrentReading!.Meaning</div>
			}

			<div class="pe-3 text-center">
				<b>Ahavta <i class="fas fa-external-link-square-alt"></i></b><br />
				@CurrentReading!.AhavtaURL
				<a href="@CurrentReading.AhavtaURL"
					 title="Ahavta URL [@CurrentReading.Value]" target="_blank">
					<i class="fas fa-external-link-alt"></i>
				</a>
			</div>

			<div class="pe-3 text-center">
				<i class="fas fa-chevron-left"></i> Prev
@* 				<button @onclick="@(() => ButtonClicked(context.Value))" 
					class="btn btn-outline-info btn-sm"
					 title="Id: @context.Value @context.Date.ToString(DateFormat.MMM_d)">
				</button> *@
			</div>

			<div class="pe-3 text-center">
				<i class="fas fa-chevron-right"></i> Next
				@* 				<button @onclick="@(() => ButtonClicked(context.Value))"
				class="btn btn-outline-info btn-sm"
				title="Id: @context.Value @context.Date.ToString(DateFormat.MMM_d)">
				</button> *@
			</div>

		</div>
	</div>

</div>

@code {
	[Parameter, EditorRequired] public ParashaEnums.Triennial? CurrentReading { get; set; }
	[Parameter, EditorRequired] public GlobalEnums.MediaQuery? MediaQuery { get; set; }
}
