@using H = MyHebrewBible.Client.Features.Haggadah.Helper

@if (Language == Enums.DisplayLanguage.English)
{
	<p class="@H.VerseClass">
		<b>@Title</b><br />
		@((MarkupString)H.VerseIcon)

		<sup class="@H.VerseSupClass">24</sup>
		And I shall take you from among the gentiles, and I shall gather you out of all lands, and I shall bring you into our own land.
		
		<sup class="@H.VerseSupClass">25</sup>
		And I shall sprinkle clean water on you, and you shall be clean from all your filthiness, and from all your idols I cleanse you
	</p>
}
else
{
	<p class="@H.VerseClass">
		<b>@Title</b><br />
		@((MarkupString)H.VerseIcon)

		<sup class="@H.VerseSupClass">24</sup>
		Y los tomaré de entre los gentiles, y los reuniré de todas las tierras, y los traeré a su propia tierra.

		<sup class="@H.VerseSupClass">25</sup>
		Y rociaré agua limpia sobre ustedes, y quedarán limpios de toda su inmundicia, y de todos sus ídolos los limpiaré.
	</p>
}

@code {
	[Parameter, EditorRequired] public Enums.DisplayLanguage? Language { get; set; }
	[Parameter, EditorRequired] public string? Title { get; set; }
}
