@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)

	<sup class="@H.VerseSupClass">14</sup>
	As obedient children, do not conform to the evil desires of your former ignorance,

	<sup class="@H.VerseSupClass">15</sup>
	but like the Holy One who called you, be holy yourselves also in all your behavior.
</p>

@code {
	
	[Parameter, EditorRequired] public string? Title { get; set; }
}
