@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)

	<sup class="@H.VerseSupClass">22</sup>
	...[and pursue the] fruits of the Spirit of God, which are love, joy, peace, forbearance, kindness, goodness, faithfulness,

	<sup class="@H.VerseSupClass">23</sup>
	gentleness and self-control. Against such things there is no law.

</p>

@code {
	
	[Parameter, EditorRequired] public string? Title { get; set; }
}
