@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)

	<sup class="@H.VerseSupClass">11</sup> <sup class="@H.VerseSupClassHebrew">[2:13]</sup>
	I will also cause all her mirth to cease, her feast days, her new moons,
	and her sabbaths, and all her solemn feasts.

	<sup class="@H.VerseSupClass">12</sup>  <sup class="@H.VerseSupClassHebrew">[2:14]</sup>
	And I will make desolate her vines and fig trees, whereof she hath said,
	These are my rewards that my lovers have given me: and I will make them
</p>

@code {
	
	[Parameter, EditorRequired] public string? Title { get; set; }
}
