@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)

	<sup class="@H.VerseSupClass">9</sup>
	And Yehovah said, Name him <i>Lo-ammi</i>, for you are not My people, and I am not your God.

	<sup class="@H.VerseSupClass">10</sup>  <sup class="@H.VerseSupClassHebrew">[2:1]</sup>
	...and it will be that in the place where it is said to them “You are not My people,”
	It will be said to them, “You are the sons of the living God.”

	<sup>(also Romans 9:25-26)</sup>
</p>


@code {
	
	[Parameter, EditorRequired] public string? Title { get; set; }
}
