@using H = MyHebrewBible.Client.Features.Haggadah.Helper

@if (Language == Enums.DisplayLanguage.English)
{
	<p class="@H.VerseClass">
		<b>@Title</b><br />
		@((MarkupString)H.VerseIcon)
		<sup class="@H.VerseSupClass">19</sup>
		So Israel (the House of Israel) has been in rebellion against the House of David (Judah) to this day.
	</p>
}
else
{
	<p class="@H.VerseClass">
		<b>@Title</b><br />
		@((MarkupString)H.VerseIcon)
		<sup class="@H.VerseSupClass">19</sup>
		Así que Israel (la Casa de Israel) ha estado en rebelión contra la Casa de David (Judá) hasta este día.
	</p>
}

@code {
	[Parameter, EditorRequired] public Enums.DisplayLanguage? Language { get; set; }
	[Parameter, EditorRequired] public string? Title { get; set; }
}
