@using H = MyHebrewBible.Client.Features.Haggadah.Helper

@if (Language == Enums.DisplayLanguage.English)
{
	<p class="@H.VerseClass">
		<b>@Title</b><br />
		@((MarkupString)H.VerseIcon)
		<sup class="@H.VerseSupClass">16</sup>
		What portion do we have in David? We have no heritage in the son of Jesse.
	</p>
}
else
{
	<p class="@H.VerseClass">
		<b>@Title</b><br />
		@((MarkupString)H.VerseIcon)
		<sup class="@H.VerseSupClass">16</sup>
		¿Qué porción tenemos en David? No tenemos herencia en el hijo de Isaí.
	</p>
}

@code {
	[Parameter, EditorRequired] public Enums.DisplayLanguage? Language { get; set; }
	[Parameter, EditorRequired] public string? Title { get; set; }
}
