@using H = MyHebrewBible.Client.Features.Haggadah.Helper

@if (Language == Enums.DisplayLanguage.English)
{
	<p class="@H.VerseClass">
		<b>@Title</b><br />
		@((MarkupString)H.VerseIcon)

		<sup class="@H.VerseSupClass">9</sup>
		The children of Ephraim, being armed, and carrying bows, turned back in the day of battle

		<sup class="@H.VerseSupClass">10</sup>
		didn't keep God's covenant, and refused to walk in his law.

		<sup class="@H.VerseSupClass">11</sup>
		They forgot his acts; His wondrous works that he had shown them.
	</p>
}
else
{
	<p class="@H.VerseClass">
		<b>@Title</b><br />
		@((MarkupString)H.VerseIcon)

		<sup class="@H.VerseSupClass">9</sup>
		Los hijos de Efraín, arqueros armados, Volvieron las espaldas en el día de la batalla.

		<sup class="@H.VerseSupClass">10</sup>
		No guardaron el pacto de Dios, Ni quisieron andar en su ley;

		<sup class="@H.VerseSupClass">11</sup>
		Sino que se olvidaron de sus obras, Y de sus maravillas que les había mostrado.

	</p>
}

@code {
	[Parameter, EditorRequired] public Enums.DisplayLanguage? Language { get; set; }
	[Parameter, EditorRequired] public string? Title { get; set; }
}
