@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)

	<sup class="@H.VerseSupClass">9</sup>
	And they sang a new song, saying, 'You are worthy to take the scroll, and to open its seals,
	because You were slain, and have redeemed us to Elohim by Your blood out of every tribe and tongue and people and nation,

	<sup class="@H.VerseSupClass">10</sup>
	and made us sovereigns and priests to our Elohim, and we shall reign upon the Earth.

</p>

@code {
	
	[Parameter, EditorRequired] public string? Title { get; set; }
}
