@typeparam TItem

@if (Items == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="@HeaderCSS">
		<thead class="@TheadCSS">
			<tr>@TableHeader</tr>
		</thead>
		<tbody>
			@foreach (var item in Items)
			{
				<tr class="@TRCSS">@RowTemplate!(item)</tr> @* How do I bass in a boolean to show which rows to color? *@
			}
		</tbody>
		<tfoot>
			<tr class="@TableFooterColor">@TableFooter</tr>
		</tfoot>
	</table>
}

@code	{
	[Parameter] public RenderFragment? TableHeader { get; set; }
	[Parameter] public RenderFragment<TItem>? RowTemplate { get; set; }
	[Parameter] public IReadOnlyList<TItem>? Items { get; set; }
	[Parameter] public string HeaderCSS { get; set; } = "table ";
	[Parameter] public string TheadCSS { get; set; } = ""; // table-dark | table-light
	[Parameter] public string TRCSS { get; set; } = ""; // table-success | "table-danger
	[Parameter] public RenderFragment? TableFooter { get; set; }
	[Parameter] public string TableFooterColor { get; set; } = "";
}