@inject ApiClient Api

<h3 class="mb-1">Word Part <sup>@ScriptureId</sup></h3>
<p class="mt-0"><code> await Api.GetWordPartAsync(ScriptureId)</code></p>



@if (wordparts == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th class="text-end">Hebrew</th>
				<th>KJV Word</th>
				<th>Transliteration</th>
				<th>Strong's</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in wordparts)
			{
				<tr>
					<td>@item.WordCount</td>
					<td class="hebrewchart black">@item.Hebrew1 @item.Hebrew2 @item.Hebrew3</td>
					<td>@item.KjvWord</td>
					<td><i>@item.Transliteration</i></td>
					<td>@item.Strongs</td>
				</tr>
			}
		</tbody>
	</table>

	<p class="mt-5">TableTemplate</p>

	<TableTemplate Items="WordPartList">
		<TableHeader>
			<th class="text-info">#</th>
			<th class="text-primary text-end">Hebrew</th>
			<th class="text-danger">KJV Word</th>
			<th class="text-info">Transliteration</th>
			<th class="text-warning">Strong's</th>

		</TableHeader>
		<RowTemplate>
			<td>@context.WordCount</td>
			<td class="hebrewchart black">@context.Hebrew1 @context.Hebrew2 @context.Hebrew3</td>
			<td>@context.KjvWord</td>
			<td><i>@context.Transliteration</i></td>
			<td>@context.Strongs</td>
		</RowTemplate>
	</TableTemplate>

}

@code {
	[Parameter, EditorRequired] public long ScriptureId { get; set; }
	private ICollection<WordPart>? wordparts = null;

	protected List<WordPart>? WordPartList;

	protected override async Task OnInitializedAsync()
	{
		wordparts = await Api.GetWordPartAsync(ScriptureId); 
		WordPartList = new List<WordPart>(wordparts);
	}
}
