@page "/about"
@using MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Components

<PageHeader PageEnum="Client.Enums.Nav.About" />

<p class="text-danger">NOT DONE YET!</p>

@* <Environment /> *@


<div class="@MediaQuery.Xs.DivClass">
	<AlephBetFooter MediaQuery="@MediaQuery.Xs" />
</div>
<div class="@MediaQuery.Sm.DivClass">
	<AlephBetFooter MediaQuery="@MediaQuery.Sm" />
</div>
<div class="@MediaQuery.Md.DivClass">
	<AlephBetFooter MediaQuery="@MediaQuery.Md" />
</div>
<div class="@MediaQuery.Lg.DivClass">
	<AlephBetFooter MediaQuery="@MediaQuery.Lg" />
</div>
<div class="@MediaQuery.Xl.DivClass">
	<AlephBetFooter MediaQuery="@MediaQuery.Xl" />
</div>

@code {

}
