@* @inject IToastService? Toast *@

@if (BookChaptersVerses is not null)
{
	<div class="card border-success">
		<div class="card-body pb-2 pb-0">
			<h5 class="card-title">Select a chapter</h5>
		</div>
		<div class="card-body ms-3 py-0">
			<ul class="list-inline">

				<li class="list-inline-item @GetBackGround(allChapters)">
					<a class="font-monospace" title="@BookChaptersVerses.BibleBook.Abrv All Chapters"
						 @onclick="@(e => ButtonClick(allChapters))">
						[All]
					</a>

				</li>

				@foreach (var item in BookChaptersVerses!.Chapters!)
				{
					<li class="list-inline-item @GetBackGround(item)">
						<a class="font-monospace" title="@BookChaptersVerses.BibleBook.Abrv:@item"
							 @onclick="@(e => ButtonClick(item))">
							@item
						</a>
					</li>
				}
			</ul>
		</div>
	</div>

}
else
{
	<p>BookChaptersVerses IS null</p>
}

@code {
	[Parameter, EditorRequired] public Enums.BookChaptersVerses? BookChaptersVerses { get; set; }
	[Parameter] public EventCallback<int> OnChapterSelected { get; set; }

	const int allChapters = 0;
	int chosenChapter = -1;
	private void ButtonClick(int chapter)
	{
		//Toast!.ShowInfo($"{nameof(ChapterList)}!{nameof(ButtonClick)}; chapter{chapter}");
		chosenChapter = chapter;
		OnChapterSelected.InvokeAsync(chapter);
	}

	string GetBackGround(int chapter)
	{
		return chapter == chosenChapter ? " bg-secondary p-0 text-dark bg-opacity-25 " : "";
	}
}
