
<h3>@Title</h3>

<p>ToDo Add Bread Crumb</p>

<h2>Anomalies</h2>
<h4>
	<VerseParagraph VerseParagraphRange="Neh_09_06" />
	@* <a asp-page="@Anchors.AlephTav.PageDetails" asp-route-id="@Verse.Neh_09_06_Id" title="@Verse.Neh_09_06_Title"><i class="fa fa-location-arrow" aria-hidden="true">&nbsp;</i></a> *@
</h4>
<p>
	This <b>SAT</b> is unique because it is found in the <b>written</b> portion as opposed to the <b>read</b> portion.  So what do I mean by this?
	In the Hebrew Bible called the <b>Westminster Leningrad Codex </b>(WLC)
	<small><a href="https://en.wikipedia.org/wiki/Leningrad_Codex"><i class="fa fa-external-link" aria-hidden="true">&nbsp;</i><i class="fa fa-wikipedia-w" aria-hidden="true"></i></a></small>.
	there are what are called the <b><i>Qere</i></b> <span class="hebrew small">קְרֵי </span><sup>(what is <b>read</b>)</sup> and <b><i>Ketiv</i></b> <span class="hebrew small">כְּתִיב </span><sup>(what is <b>written</b>)</sup>
	<a href="https://en.wikipedia.org/wiki/Qere_and_Ketiv"><i>Qere Ketiv</i></a> <i class="fa fa-external-link">&nbsp;</i><i class="fa fa-wikipedia-w"></i>.
	For the fifth word of Nehemiah 9:6 the <i>Ketiv</i>, the written part, it is a Standalone Aleph Tav (SAT), but the <i>Qere</i>, read part, it is an <i>Aleph Tav Hey</i>.
	<br />
	<img class="img-responsive" src="@BlobContent.ImagesUrl("e_sword_Neh_Chap_9_Verse_6d.png")" />
</p>

<h4>
	<VerseParagraph VerseParagraphRange="Job_01_10" />
	@* <a asp-page="@Anchors.AlephTav.PageDetails" asp-route-id="@Verse.Job_01_10_Id" title="@Verse.Job_01_10_Title"><i class="fa fa-location-arrow" aria-hidden="true">&nbsp;</i></a> *@
</h4>
<p>
	<img class="img-responsive" src="@BlobContent.ImagesUrl("e_sword_Job_Chap_1_Verse_10.png")" />
</p>

<h4>
	<VerseParagraph VerseParagraphRange="Psa_60_01" />
	@* <a asp-page="@Anchors.AlephTav.PageDetails" asp-route-id="@Verse.Psa_60_01_Id" title="@Verse.Psa_60_01_Title"><i class="fa fa-location-arrow" aria-hidden="true">&nbsp;</i></a> *@
</h4>
<p>
	<img class="img-responsive" src="@BlobContent.ImagesUrl("e_sword_Psa_Chap_60_Verse_1_C1068b.png")" />
</p>


@code {
	int verseCnt = 0;
	int alephTavCnt = 0;
	string Title = "Standalone Aleph Tav List";

	private VerseParagraphRange Neh_09_06 = new VerseParagraphRange(12518, 12518, "Nehemiah 9:6");
	private VerseParagraphRange Job_01_10 = new VerseParagraphRange(12880, 12880, "Job 1:10");
	private VerseParagraphRange Psa_60_01 = new VerseParagraphRange(14809, 14809, "Psalms 60:1");

	//public IEnumerable<Bible.Domain.AlephTavSummary> AlephTavSummaryList { get; set; }
	//AlephTavSummaryList = AlephTavSummaryFactory.GetAlephTavSummaryBooks();
	


	// /SummaryAndAnomalies
}
