@using MyHebrewBible.Client.Helpers

<button class="btn btn-primary @ButtonSize" @onclick="ButtonClicked" title="@TitleText">
	@if (ShowToggleIcon)
	{
		<i class="fas @ToggleIcon  @IconSize"></i>
	}
	<span class="@ButtonFontSize">@ButtonText</span>
	<i class="fas @ChevronIcon @IconSize"></i>
</button>

@code {
	[Parameter, EditorRequired] public bool ToggleValue { get; set; }
	[Parameter, EditorRequired] public EventCallback<bool> OnToggleSelected { get; set; }

	bool SizeLarge = false;
	bool ShowToggleIcon = false;

	private string ToggleIcon => ToggleValue ? " fa-toggle-on" : " fa-toggle-off";
	private string ButtonText => ToggleValue ? "Hide Lookup" : "Bible Lookup";
	private string TitleText => "Click to change the Book/Chapter";
	private string ChevronIcon => ToggleValue ? " fa-chevron-up" : " fa-chevron-down";
	private string IconSize => SizeLarge ? " fa-fw fa-2x" : "";
	private string ButtonSize => SizeLarge ? " btn-lg" : "";
	private string ButtonFontSize => SizeLarge ? " fs-4" : "";

	private void ButtonClicked()
	{
		OnToggleSelected.InvokeAsync(!ToggleValue);
	}

	//private void ButtonClicked() => OnToggleSelected.InvokeAsync(!ToggleValue);

}
