@page "/BibleList"
@page "/List"

@rendermode InteractiveWebAssembly
@using MyHebrewBible.Client.Features.Lists.Components


<PageHeader PageEnum="@MyHebrewBible.Client.Enums.Nav.BibleList" />

<SubNavBar ActiveMenuItem="@MenuItems.Home" />




@*@inject IOptions<AppSettings> AppSettings*@

<div class="list-group">

@*	<a class="list-group-item" href="@MenuItemConstants.ParablesOfYeshua">
		<i class="fa fa-blind fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Parables of Yeshua
	</a>
*@
	@*	
	<a class="list-group-item" href="@MenuItemConstants.GospelHarmony.PageIndexFromRoot">
		<i class="fa fa-fighter-jet fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Gospel Harmony
	</a>
	*@
	
@*	<a class="list-group-item" href="@MenuItemConstants.YosephAndYeshuaComparison">
		<i class="fa fa-bars fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Yoseph and Yeshua Comparison
	</a>
	<a class="list-group-item" href="@MenuItemConstants.MapCanaanOT">
		<i class="fas fa-map fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Map of Canaan
	</a>
	<a class="list-group-item" href="@MenuItemConstants.TimeLine">
		<i class="fas fa-clock fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Timeline
	</a>
	<a class="list-group-item" href="@MenuItemConstants.Feasts">
		<i class="fa fa-calendar fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Feasts <i>Moadim</i>
	</a>
	<a class="list-group-item" href="@MenuItemConstants.PeopleKilled">
		<i class="fa fa-battery-empty fa-fw fa-2x" aria-hidden="true"></i>&nbsp; People Killed
	</a>

	<a class="list-group-item" href="/BibleList/@MenuItemConstants.Emendations.Index">
		<i class="fa fa-letter-emendations fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Emendations
	</a>
	<a class="list-group-item" href="/BibleList/@MenuItemConstants.JotAndTittle.Index">
		<i class="fa fa-letter-jot-tittle fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Jots and Tittles
	</a>
	<a class="list-group-item" href="Mitzvot">
		<i class="fa fa-balance-scale fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Mitzvot
	</a>
*@
	@* <a class="list-group-item" asp-page="@MenuItemConstants.Mitzvot"><i class="fa fa-balance-scale fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Mitzvot</a> *@

</div>



@code {

}
