@page "/BibleList"
@page "/List"

@using MyHebrewBible.Client.Features.Lists.Components

<PageHeader PageEnum="@MyHebrewBible.Client.Enums.Nav.BibleList" />
<SubNavBar ActiveMenuItem="@MenuItems.Home" />

<div class="list-group">

@*	*@
	<a class="list-group-item" href="@MenuItemConstants.ParablesOfYeshua.Index">
		<i class="@MenuItems.ParablesOfYeshua.Icon fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Parables of Yeshua
	</a>

	@* PageIndexFromRoot 	*@
	<a class="list-group-item" href="@MenuItemConstants.GospelHarmony.Index">
		<i class="@MenuItems.GospelHarmony.Icon fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Gospel Harmony
	</a>


	<a class="list-group-item" href="@MenuItemConstants.YosephAndYeshuaComparison.Index">
		<i class="@MenuItems.YosephAndYeshuaComparison.Icon fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Yoseph and Yeshua Comparison
	</a>

	<a class="list-group-item" href="@MenuItemConstants.MapCanaanOT.Index">
		<i class="@MenuItems.MapCanaanOT.Icon fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Map of Canaan
	</a>
	<a class="list-group-item" href="@MenuItemConstants.TimeLine.Index">
		<i class="@MenuItems.TimeLine.Icon fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Timeline
	</a>
	<a class="list-group-item" href="@MenuItemConstants.Feasts.Index">
		<i class="@MenuItems.Feasts.Icon fa-fw fa-2x" aria-hidden="true"></i>&nbsp; @MenuItems.Feasts.Title <i>Moadim</i>
	</a>
	<a class="list-group-item" href="@MenuItemConstants.PeopleKilled.Index">
		<i class="@MenuItems.PeopleKilled.Icon fa-fw fa-2x" aria-hidden="true"></i>&nbsp; People Killed
	</a>

	<a class="list-group-item" href="@MenuItemConstants.Emendations.Index">
		<i class="@MenuItems.Emendations.Icon fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Emendations
	</a>
	<a class="list-group-item" href="@MenuItemConstants.JotAndTittle.Index">
		<i class="@MenuItems.JotAndTittle.Icon fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Jots and Tittles
	</a>
	<a class="list-group-item" href="@MenuItemConstants.Mitzvot.Index">
		<i class="@MenuItems.Mitzvot.Icon fa-fw fa-2x" aria-hidden="true"></i>&nbsp; Mitzvot
	</a>

</div>



@code {

}
