@using H = MyHebrewBible.Client.Features.Haggadah.Helper

@if (Language == Enums.DisplayLanguage.English)
{
	<p class="@H.VerseClass">
		<b>@Title</b><br />
		@((MarkupString)H.VerseIcon)
		<sup class="@H.VerseSupClass">10</sup>
		Blessed are You, Yehovah our Elohim, King of the universe, who feeds the entire world in His goodness,
		with grace, with kindness, with mercy. He gives food to all flesh, His kindness forever it endures.
		And through His great goodness we have never lacked, may we never lack for food for all of eternity.
		For the sake of His great Name, because He is God who feeds and sustains and benefits all and prepares food for all of His creatures which He has created.
		Blessed are You, Yehovah, Who feeds all.
		Amein.
	</p>
}
else
{
	<p class="@H.VerseClass">
		<b>@Title</b><br />
		@((MarkupString)H.VerseIcon)
		<sup class="@H.VerseSupClass">10</sup>
		Bendito eres Tú, Yahvé nuestro Elohim, Rey del universo, quien alimenta al mundo entero en Su bondad, con gracia,
		con bondad, con misericordia. Él da comida a toda carne, Su bondad para siempre perdura.
		Y por Su gran bondad nunca nos ha faltado, que nunca nos falte comida por toda la eternidad.
		Por el bien de Su gran Nombre, porque Él es Dios que alimenta y sostiene y beneficia a todos y prepara comida para todas Sus criaturas que Él ha creado.
		Bendito eres Tú, Yahvé, Quien alimenta a todos.
		Amén.
	</p>
}

@code {
	[Parameter, EditorRequired] public Enums.DisplayLanguage? Language { get; set; }
	[Parameter, EditorRequired] public string? Title { get; set; }
}