@using H = MyHebrewBible.Client.Features.Haggadah.Helper

@if (Language == Enums.DisplayLanguage.English)
{
	<p class="@H.VerseClass">
		<b>@Title</b><br />
		@((MarkupString)H.VerseIcon)
		<sup class="@H.VerseSupClass">26</sup>
		For Yehovah saw the affliction of Israel, which was very bitter; and whether bond or free, there was no helper for Israel.
	</p>
}
else
{
	<p class="@H.VerseClass">
		<b>@Title</b><br />
		@((MarkupString)H.VerseIcon)
		<sup class="@H.VerseSupClass">26</sup>
		Porque Yahvé vio la aflicción de Israel, que era muy amarga; y ya fuera siervo o libre, no había ayudador para Israel.
	</p>
}

@code {
	[Parameter, EditorRequired] public Enums.DisplayLanguage? Language { get; set; }
	[Parameter, EditorRequired] public string? Title { get; set; }
}
