
<VerseModalTemplate QuotedVerse="Enums.QuotedVerse.Deu_06_04">
	<VerseBody>
		<p class="fs-5">
			<sup class="text-primary"><b>4</b></sup>
			Hear, <span class="hebrew">שְׁמַ</span> @GlobalEnums.BibleAnchors.StrongsH(8085, "shema'")<br />
			O Israel:  <span class="hebrew">יִשְׂרָאֵל</span> @GlobalEnums.BibleAnchors.StrongsH(3478, "Yisra'El")<br />
			The LORD <span class="hebrew">יְהוָה</span> @GlobalEnums.BibleAnchors.StrongsH(3068, "Yehovah")<br />
			our God <span class="hebrew">אֱלֹהֵי<span class='nrl'>נוּ</span></span> @GlobalEnums.BibleAnchors.StrongsH(430, "eloheinu")<br />
			is one <span class="hebrew">אֶחָ</span>  @GlobalEnums.BibleAnchors.StrongsH(259, "echad")<br />
		</p>
	</VerseBody>
</VerseModalTemplate>

@code {
}

