@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)

	<sup class="@H.VerseSupClass">11</sup> <sup class="@H.VerseSupClassHebrew">[2:13]</sup>
	Haré cesar todo su gozo, sus fiestas, sus nuevas lunas
	y sus días de reposo, y todas sus festividades.

	<sup class="@H.VerseSupClass">12</sup>  <sup class="@H.VerseSupClassHebrew">[2:14]</sup>
	Y haré talar sus vides y sus higueras, de las cuales dijo: Mi salario son,
	salario que me han dado mis amantes. Y las reduciré a un matorral, y las comerán las bestias del campo.
</p>

@code {

	[Parameter, EditorRequired] public string? Title { get; set; }
}
