@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)

	<sup class="@H.VerseSupClass">7</sup>
	Porque así dice Yahvé, Canten con alegría por Jacob, Y griten entre la cabeza de las naciones;
	Hagan que se oiga, den alabanza, y digan, 'Oh Yahvé, salva a Tu pueblo, El remanente <span class='hebrew text-danger fw-bold'>אֵת</span> de Israel.

	<sup class="@H.VerseSupClass">8</sup>
	He aquí, los traeré del país del norte y los reuniré de las partes más lejanas de la tierra,
	entre ellos el ciego y el cojo, la mujer embarazada y la que está en trabajo de parto, juntos; una gran compañía, regresarán aquí.

</p>

@code {

	[Parameter, EditorRequired] public string? Title { get; set; }
}
