@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.VerseClass">
	<b>@Title</b><br />
	@((MarkupString)H.VerseIcon)

	<sup class="@H.VerseSupClass">14</sup>
	Por tanto, he aquí, vienen días, declara Yahvé,
	cuando ya no se dirá, 'Vive Yahvé, que sacó a los hijos de Israel de la tierra de Egipto,'

	<sup class="@H.VerseSupClass">15</sup>
	sino, 'Vive Yahvé, que sacó a los hijos de Israel de la tierra del norte y de todas las tierras donde los había desterrado.'
	Porque los devolveré a su propia tierra que di a sus padres.


</p>

@code {

	[Parameter, EditorRequired] public string? Title { get; set; }
}
