@using MyHebrewBible.Client.Helpers


<div class="card w-50 @Borders.Primary border border-3 rounded-top text-center mb-3 mt-2 ">

	<div class="card-header p-1 @BgAndText.PrimarySubtle">
		<h6><span class="card-title mb-0">Omer Count</span></h6>
	</div>

	<div class="d-flex justify-content-center  py-n1">

		<div class="px-1 display-2 mt-3 mb-0  @TextColors.Info fw-bold ">@OmerCnt</div>
		<div class="px-1 display-2 mt-3 mb-0 ">/</div>
		<div class="px-1 display-2 hebrew62 @TextColors.Danger">@OmerCntHebrew</div>

	</div>
</div>

@code {

	[Parameter, EditorRequired] public int OmerCnt { get; set; }
	[Parameter, EditorRequired] public string? OmerCntHebrew { get; set; }

}
