@using MyHebrewBible.Client.Helpers


<div class="card w-50 @Borders.Primary border border-3 rounded-top text-center mb-3 mt-2 @BgAndText.BodySecondary">

	<div class="card-header p-1 @BgAndText.PrimarySubtle">
		<h6><span class="card-title mb-0">Omer Count</span></h6>
	</div>

	<div class="@GlobalEnums.MediaQuery.Xs.DivClass">
		<p class="display-2 @TextColors.Info fw-bold">@OmerCnt</p>
		<p class="hebrew44 @TextColors.Danger ">@OmerCntHebrew</p>
	</div>

	<div class="@GlobalEnums.MediaQuery.SmOrMdOrLgOrXl.DivClass">
		<p class="display-1 @TextColors.Info fw-bold">@OmerCnt</p>
		<p class="hebrew62 @TextColors.Danger ">@OmerCntHebrew</p>
	</div>

</div>

@code {
	[Parameter, EditorRequired] public int OmerCnt { get; set; }
	[Parameter, EditorRequired] public string? OmerCntHebrew { get; set; }
}
