@using MyHebrewBible.Client.Helpers
@using MyHebrewBible.Client.Enums
@using ParashaEnums = MyHebrewBible.Client.Features.Parasha.Enums
@using System.Text

<div class="d-flex justify-content-between @BgAndText.SuccessSubtle p-2  my-4">
	<span class="@textSize">@GetFormat(isPrevious: true)</span>

	<div class="d-flex justify-content-center">

		<span class="@textSize">Parasha &nbsp;</span>
		<button @onclick="ButtonClick"
						type="button" class="btn @BtnOutlineColors.Success @BtnSize.Xs mb-2" title="hide parasha detail">
			<i class="@Icon.Chevron.Up"></i>
		</button>
	</div>

	<span class="@textSize">@GetFormat(isPrevious: false)</span>
</div>

@code {
	[Parameter, EditorRequired] public ParashaEnums.Triennial? Parasha { get; set; }
	[Parameter, EditorRequired] public bool XsOrSm { get; set; }
	[Parameter] public EventCallback OnToggle { get; set; }

	string textSize => XsOrSm ? "" : "h5";

	public MarkupString GetFormat(bool isPrevious)
	{
		if (Parasha is null) return (MarkupString)"<span class='text-danger'>Triennial is null???</span>";

		StringBuilder sb = new StringBuilder();

		if (isPrevious)
		{
			if (Parasha.PreviousVM != null)
			{
				sb.Append($"<sup class='{TextColors.Info}'><i class='{Icon.Hand.Up}'></i></sup>");
				sb.Append(Parasha!.PreviousVM.Triennial.TorahAbrv);
				sb.Append($" <sup class='{TextColors.Secondary}'>");
				sb.AppendIf(!XsOrSm, $"{Parasha!.PreviousVM.Triennial.Date.ToString(DateFormat.MMM_d_YYYY)}");
				sb.Append("</sup>");
			}
			else
			{
				sb.Append($"<span class='text-black-50'><i class='{Icon.Edge}'></i></span> None");
			}
		}
		else
		{
			sb.Append(Parasha!.TorahAbrv);

			sb.Append($" <sup class='{TextColors.Secondary}'>");
			sb.AppendIf(!XsOrSm, $"{Parasha.Date.ToString(DateFormat.MMM_d_YYYY)}");
			sb.Append("</sup>");

			sb.Append($" <sub class='{TextColors.Danger}'><i class='{Icon.Hand.Down}'></i></sub>");
		}

		return (MarkupString)(sb.ToString());
	}

	private void ButtonClick()
	{
		OnToggle.InvokeAsync();
	}

}
