@using Page = MyHebrewBible.Client.Enums.Nav
@using ParashaEnums = MyHebrewBible.Client.Features.Parasha.Enums
@using MyHebrewBible.Client.Helpers
@using NumberPadBCV = MyHebrewBible.Client.Features.BookChapter.Toolbar.NumberPad

@inject NavigationManager NavigationManager

<div class="btn-group " role="group" aria-label="Vertical button group">

	<button @onclick="ButtonClickHome" class="btn btn-primary btn-md" title="@Page.Home.Title">
		<i class="@Page.Home.Icon"></i>
	</button>

	<button type="button" class="btn btn-info btn-md dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
		<span class="visually-hidden">Toggle Dropdown</span>
	</button>

	@if (RecentList is not null && RecentList.Any())
	{
		<ul class="dropdown-menu">
			<li><h5 class="dropdown-header"><b>Recent</b></h5></li>
			@foreach (var item in RecentList)
			{
				<li class="dropdown-item">
					<a @onclick="@(e => ButtonClick(item))">
						@GlobalEnums.BibleBook.FromValue(item.BibleBookId).Abrv @item.Chapter:@item.Verse
					</a>
				</li>
			}

			<li><hr class="dropdown-divider"></li>

		</ul>
	}
	else
	{
		<ul class="dropdown-menu">
			<li class="dropdown-item">--No Items--</li>
		</ul>
	}

	@if (ParashaList is not null && ParashaList.Any())
	{
		<ul class="dropdown-menu">
			<li><h5 class="dropdown-header"><b>Parasha</b></h5></li>
			@foreach (var item in ParashaList)
			{
				<li class="dropdown-item">
					<a @onclick="@(e => ButtonClick(item))">
						@GlobalEnums.BibleBook.FromValue(item.BibleBookId).Abrv @item.Chapter:@item.Verse
					</a>
				</li>
			}
		</ul>
	}
	else
	{
		<ul class="dropdown-menu">
			<li class="dropdown-item">--No Parasha--</li>
		</ul>
	}


</div>


@code {
	[Parameter] public List<BookChapterVerseHistory>? RecentList { get; set; }
	[Parameter] public EventCallback<NumberPadBCV.BookChapterVerse> OnBCVSelected { get; set; }
	[CascadingParameter] public CascadingAppState? CascadingAppState { get; set; } /* Can this be done in NavBar?*/

	string headerColor => TextColors.Success;
	private string? ButtonText;

	protected List<BookChapterVerseHistory>? ParashaList = new();
	protected bool ShowParashaList = false;

	private void ButtonClickHome()
	{
		//ToDo: Should I call await CascadingAppState!.AppState!.BookChapterState!.AddStoredAcvToBcvList();???
		NavigationManager!.NavigateTo($"{Page.Home.Index}");
	}

	private async Task ButtonClick(BookChapterVerseHistory bcv)
	{
		await CascadingAppState!.AppState!.BookChapterState!.AddStoredAcvToBcvList();
		await OnBCVSelected.InvokeAsync(new NumberPadBCV.BookChapterVerse(GlobalEnums.BibleBook.FromValue(bcv.BibleBookId), bcv.Chapter, bcv.Verse));
	}
}
