@using MyHebrewBible.Client.Features.Hebrew.Enums

<table class="table table-hover">
	<thead>
		<tr>
			<th class="text-center" scope="col"><u>#</u></th>
			<th class="text-center d-print-none" scope="col"><a href="https://en.wikipedia.org/wiki/Gematria">gem</a></th>

			<th class="text-center" scope="col"><small><a href="https://en.wikipedia.org/wiki/Unicode">unicode</a></small></th>
			<th class="text-center" scope="col"><small><u>Strong's</u></small></th>

			<th class="text-center" scope="col"><u>eng</u></th>
			<th class="" scope="col"><u>prefix</u></th>
			<th scope="col"><u>literal / symbolic</u></th>
			<th class="text-center" scope="col"><u>nd</u></th>
			<th class="text-center" scope="col"><u>sofit</u></th>
			<th class="text-center" scope="col"><u>Letter</u></th>
			<th class="" scope="col"><u>name</u></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in HebrewChart.List.OrderBy(o => o.Value).ToList())
		{
			<tr>
				<td scope="row" class="text-center">@item.Value</td>
				<td scope="row" class="text-center">@item.Gematria</td>
				<td scope="row" class="text-center">@item.UniInt</td>
				<td scope="row" class="text-center">@item.Strongs</td>
				<td scope="row" class="text-center">@item.EngLetter</td>
				<td scope="row">@item.PrefixMeaning</td>
				<td scope="row">
					@item.LiteralMeaning <br /> @item.SymbolicMeaning;
				</td>
				<td scope="row" class="hebrewchart black text-center">@item.WithoutDagesh</td>
				<td scope="row" class="hebrewchart black text-center">@item.Sofit</td>
				<td scope="row" class="hebrewchart black text-center">@item.Hebrew</td>
				<td scope="row" class="text-primary">@item.UnicodeName</td>
			</tr>
		}
		<tr><td colspan="11"><small><u>Column Names:</u><br /><b>eng</b>: English like letter; <b>unicode</b>: Unicode character set # (decimal); <b>Strong's</b>: starting Strong's #; <b>gem</b>: Gematria; <b>nd</b>: No Dagesh</small></td></tr>
	</tbody>
</table>


@code {

}
