@page "/HealthChecks/QuickGrid"

@using Microsoft.AspNetCore.Components.QuickGrid
@using ParashaEnums = MyHebrewBible.Client.Features.Parasha.Enums

@using Page = MyHebrewBible.Client.Enums.Nav
<PageHeader PageEnum="Page.HealthCheckQuickGrid" />

<div class="card border-info">
	<div class="card-header">
		<FilterButtons CurrentFilter="CurrentFilter" OnFilterSelected="ReturnedFilter" />

		<div class="d-flex justify-content-center mt-3">
			<div class="pe-2 fs-4">
				@CurrentFilter!.Name
			</div>
			<div class="pe-2 fs-4">
				<i>@CurrentFilter.BibleBook.TransliterationInHebrew</i>
			</div>
			<div class="pe-2">
				<span class="hebrew">@CurrentFilter.BibleBook.NameInHebrew</span>
			</div>
		</div>
	</div>

	<QuickGrid Items="@filteredItems">
		<PropertyColumn Property="@(p => p.TorahAbrv)" Title="Torah" />
		<PropertyColumn Property="@(p => p.Date.ToString(DateFormat.YYYY_MM_DD))" Align="Align.Center" Title="Date" />
		<PropertyColumn Property="@(p => p.ParashaName)" Sortable="false" Align="Align.Left" Title="Parasha Name" />
		<PropertyColumn Property="@(p => p.Haftorah)" Sortable="false" Align="Align.Left" />
		<PropertyColumn Property="@(p => p.Brit)" Sortable="false" Align="Align.Left" />
	</QuickGrid>
</div>

@code {

	Enums.TorahBookFilter? CurrentFilter = Enums.TorahBookFilter.Deuteronomy;

	List<ParashaEnums.Triennial>? itemList;
	IQueryable<ParashaEnums.Triennial>? items;

	IQueryable<ParashaEnums.Triennial>? filteredItems => items?
	.Where(x => x.TorahBookFilter == CurrentFilter)
	.OrderBy(o => o.Date);

	protected override void OnInitialized()
	{
		itemList = ParashaEnums.Triennial.List.ToList();
		items = itemList.AsQueryable();
		// Set CurrentFilter
	}

	//protected override void OnParametersSet()	{		}

	private void ReturnedFilter(Enums.TorahBookFilter filter)
	{
		CurrentFilter = filter;

	}

}
