@page "/HomeMhbVer6/CriticalThinking"

@using Page = MyHebrewBible.Client.Features.HomeMhbVer6.Enums.MenuItems

<PageHeader PageEnum="@GlobalEnums.Nav.HomeMhbVer6" PageTitle="@Page.CriticalThinking.Title" />

<SubNavbar ActiveMenuItem="@Enums.MenuItems.CriticalThinking" />

<div class="card card-border-info my-2">
	<div class="card-header">
		<h3><span class="label label-warning">Preface Warning</span></h3>
	</div>
	<div class="card-body">
		<p class="text-muted fs-5">
			This page, although very important, is very much in flux.
			I however still wanted to go ahead and create the beginnings of a landing page for this important information so I can start to see what will evolve.
			There is a lot of information that could go here so I need to be able to think it through in a concise, yet thorough and effective way.
			I am going to start out with a basic introduction and also map out an outline or a called <a href="http://en.wikipedia.org/wiki/Tag_cloud" target="_blank"> tag cloud</a> of sorts.
			<blockquote>
				<small>Last updated on Mar 11, 2014</small>
			</blockquote>
		</p>
	</div>
</div>

@* <a href="#top" id="toTop"></a> *@

<h3><span class="label label-default">Tag Cloud</span></h3>

<style>
	ul.jkmUl {
		margin-bottom: 16px;
		margin-left: 12px;
	}
</style>

<h4>Hermeneutics</h4>
<ul class="">
	<li>PaRDeS</li>
	<li>Intellectual</li>
	<li>Patterns (i.e. good patterns)</li>
	<li>Anti-patterns (i.e. bad patterns, e.g. political correctness, conspiracy theory mindset)</li> @*   <li>e.g. Emoting </li> *@
	<li>Compare and Contrast</li>
	<li>Constructive criticism of the patriarchs (e.g. Jacob relating to Esau and Laban)</li>
</ul>

<h4>Definitions</h4>
<ul class="">
	<li>e.g. religion</li>
	<li>passion for words</li>
	<li>Unsubstantiated terms e.g. natural law, unconditional covenant &amp; church fathers</li>
</ul>

<h4>Organizational Structure</h4>
<ul class="">
	<li>Goals</li>
	<li>Mission Statement</li>
	<li>Maxims <small>(basic &amp; fundamental)</small></li>
	<li>Mottos <small>(basic &amp; fundamental)</small></li>
	<li>Theology (a basic theology must be assumed...do you believe in a Creator and do you believe you have a contract/covenant with him)</li>
</ul>

<h4>Focus</h4>
<ul class="">
	<li>Weightier Matters</li>
	<li>Questions (identify &amp; and answer those that are profound, powerful, relevant, important)</li>
	<li>Opinionated (enough to be well identified and structured yet not stifling to be of no value)</li>
	<li>Quality of Quantity</li>
	<li>Things of Law over things political (e.g. Covenant Conservative in contrast to WFB Conservative)</li>
</ul>

<h4>Themes &amp; Assumptions</h4>
<ul class="">
	<li>Scripture studied from a legal perspective (Assumption is that it is loaded with legal terms and concepts)</li>
	<li>Everything is contractual</li>
	<li>Thinking like a computer programmer</li>
	<li>Hebrew (the programming language of the Creator)</li>
	<li>Birthright, American &amp; Israelite</li>
	<li>Torah Equity</li>
	<li>Torah law form</li>
	<li>Two house one covenant</li>
	<li>Religious Comparison (Judaism, Christianity, Socialism and Islam)</li>
	<li>Scriptura is patriarchal</li>
	<li>Sola Scriptura</li>
	@* Sola fide ("by faith alone"),  Sola gratia ("by grace alone"), Solus Christus or Solo Christo ("Christ alone" or "through Christ alone"), Soli Deo gloria ("glory to God alone") *@
	@*      <li>Continuation of the Protestant Reformation</li>*@
</ul>

<h4>Thinking</h4>
<ul class="">
	<li>Like a programmer</li>
	<li>Hebrew vs Greek</li>
	<li>Like a lawyer (&ldquo;Torah-yer&rdquo; if you will)</li>
	<li>Reasonableness (Isa 1:18)</li>
</ul>

<h4>Process</h4>
<ul class="">
	<li>Problem Resolution</li>
	<li>Due Process</li>
	<li>Accountability</li>
	<li>Writing (how to become a good one)</li>
	<li>Discretion</li>
</ul>

@*
<li>
  Testing
  <ul class="">
    <li>arguments: making yours vs reacting to theirs</li>
  </ul>
</li>
*@

<h4>Legal Terms, fundamental</h4>
<ul class="">
	<li>Contracts</li>
	<li>Covenants</li>
	<li>Rights</li>
	<li>Duties &amp; Responsibilities</li>
	<li>Standing</li>
	<li>Judgment</li>  @* Judgment Day ? *@
	<li>Estates</li>
	<li>Authority</li>
	<li>Status</li>
	<li>Claims based</li>
	<li>Witness</li>
	<li>Truth (as defined in Torah, contrast with evidence in public courts)</li>
	<li>Faith (e.g. Full Faith &amp; Credit) </li>
	<li>Ownership (title holder vs equitable interest)</li>
	<li>Money (what is it and what forms are their)</li>
</ul>

<h4>Religious Terms, fundamental</h4>
<ul class="">
	<li>Grace</li>
	<li>Mercy</li>
	<li>Covenants</li>
	<li>Faith</li>
	<li>God</li>
	<li>Name (i.e. <i>HaShem</i>, it's about power not pronunciation</li>
	<li>Mercy</li>
	<li>Diplomacy and Ambassadorship</li>
	<li>Disciple</li>
</ul>
<h4>Legal Terms, Detailed e.g. <em>Contracts</em></h4>
<ul class="">
	<li>what is first and foremost</li>
	<li>contrast with gifts</li>
	<li>contrast with covenants</li>
	<li>contrast with agreements)</li>
	<li>what are the elements of</li>
</ul>

<h4>Levels of law</h4>
<ul class="">
	<li>Jurisdiction</li>
	<li>Authority</li>
	<li>Capacity </li>
	<li>Roles (offices)</li>
</ul>

<h4>Hebraic Concepts</h4>
<ul class="">
	<li><i>Halacha</i></li>
</ul>

<br />

@*

  <li>&bull; Claims, regarding law</li>
  <li>&bull; Claims, stating and not abandoning</li>
  <li>&bull; Claims, dependencies on</li>
  <li>&bull; Claims, Intellectual presumptions made</li>

  disclosure
  http://localhost:44300/Glossary/Details/208?letter=A

*@
<hr />
<h3><span class="label label-default">Outline</span></h3>

<ul class="list-inline">
	<li class="list-inline-item"><NavLink class="nav-link" href="@($"{Enums.MenuItems.CriticalThinking.Page}#parasha")">Introduction</NavLink> </li>
	<li class="list-inline-item"><NavLink class="nav-link" href="@($"{Enums.MenuItems.CriticalThinking.Page}#confessions")">The Iniquity of the Fathers</NavLink> </li>
</ul>

<h4 id="introduction">Introduction</h4>
<p>
	Can we say that conspiracy thinking for the masses is a new thing in the information age.
	Unprecedented in the history of man is that the internet is flooded with pornography in a graphic sense but, more relevant to this article, is it has also produced a flood of ideas and concepts many of which are dangerous to the mind.
	The ideas and concepts I’m talking about are based in a <b>conspiracy theory mindset</b> and show a lack of critical thinking which is, if you will, a debasing of the mind.
	The tree of the knowledge of good and evil, like the internet, is not evil in and of itself.  I mean didn't YHVH place it there to begin with?
	The problem is the lack of wisdom and discernment.
</p>

@*
  Much of this is just a repeat of the Glossary page
   - Maybe point this out and go through them
   - Maybe this is a well structured glossary with levels, introduction etc.
  - how does this contrast with
  - SHRB&C
*@


<h4 id="confessions">Confessions - The Iniquity of the Fathers</h4>

<blockquote>
	<span class="text-muted"><sup>40</sup></span>  If they shall confess their iniquity, and the iniquity of their fathers, with their trespass which they trespassed against me, and that also they have walked contrary unto me;
	<span class="text-muted"><sup>41</sup></span>  And <span class="text-muted"><i>that</i></span> I also have walked contrary unto them, and have brought them into the land of their enemies; if then their uncircumcised hearts be humbled, and they then accept of the punishment of their iniquity:
	<span class="text-muted"><sup>42</sup></span>  Then will I remember my covenant with Jacob, and also my covenant with Isaac, and also my covenant with Abraham will I remember; and I will remember the land.
	<small>Lev 26:40-42 <cite title="Source Title">King James Bible </cite></small>
</blockquote>

<p>
	The connections between this paragraph above and these verses is that nowhere in Lev 26:40-42 does it say that we are to make a confession to all the “bad guys” that comes out of mouth of those who have a conspiracy theory mind set.
	The title of these verses is to confess the iniquity of the <b>fathers</b>, not the inequities of the Canaanites, Moabites, Amalekites, Edomites, Ishmaelites etc.
	Nowhere in the gospel during the time of Y’shua does it say that we are to confess the inequities of the Romans.
	<br />
	See  @((MarkupString)Articles.Helper.GetAnchor(215, "Confessions per Lev 26:40-42, The Iniquity of the Fathers")) for more comments.
</p>


@*
  <li> <a href="#torah">Torah Centric</a> </li>
  <li> <a href="#tools">Bible Tools</a> </li>
  <li> <a href="#end">End Notes</a> </li>

   shouldn't be approached until one has developed and mastered these critical thinking skills.

  With this insight I would argue we can very much apply the things of today and compare with the events in the Garden.
  Wouldn't a righteous father be concerned at what his children have access to on the internet?


  <h3 id="end">End Notes</h3>
  <h4>Verses</h4>
  <h4>Deu 17:18 KJV</h4>
  <p>
    And it shall be, when he sitteth upon the throne of his kingdom, that he shall write him a copy of this law in a book out of that which is before the priests the Levites:
    <sup>Deu 17:18</sup>
  </p>

*@

@code {

}
