
<div class="card">
	<div class="card-header">
		Purpose
		<div class="card-body">
			<p class="card-text">
				The purpose of <b>My Hebrew Bible</b> is to enable people to have a stronger relationship with their Creator by intently and methodically studying his image which is the scriptures.
				The focus is on the weightier matters of scripture which is the law (Heb. <i>Torah</i>) and this is reflected in the commentary.
				The relationship we have with the Creator is contractual (more precisely covenant).  Knowing the contract instructs us what the law is and therefore the relationship.
			</p>
		</div>
		<p class="d-print-none"><a href="@Enums.Nav.HomeMhbVer6.Index" class="btn btn-info btn-sm">About &raquo;</a></p>
		@* ToDo: . Anchors.HomeMhbVer6.PageAbout*@
	</div>
</div>

<div class="row">
	<div class="col-sm-3">
		<h3>Critical Thinking</h3>
		<p>Through principles like <i>Sola Scriptura</i>, <em>My Hebrew Bible</em> is an attempt to view scriptures in a disciplined way based on what the scriptures say not based on hearsay</p>
		@*<p class="d-print-none"><a class="btn btn-default btn-sm" href="@Url.Action("Details", "Glossary", new { id = 159 })">Learn more &raquo;</a></p>*@

		<h3>American Birthright</h3>
		<blockquote>
			We hold these truths to be self-evident, that all men are created equal, that they are endowed by their Creator with certain unalienable Rights, that among these are Life, Liberty and the pursuit of Happiness.
			<small><cite title="Source Title">Declaration of Independence</cite></small>
		</blockquote>
		@*<p class="d-print-none"><a class="btn btn-default btn-sm" href="@Url.Action("Details", "Glossary", new { id = 109 })">Learn more &raquo;</a></p>*@
	</div>

	<div class="col-sm-6">
		<h3>Mottos</h3>
		<blockquote>
			<p class="text-danger">Nothing, nothing, nothing is more important than my covenant/contract with the Creator of the Universe</p>
			<small>Marsing's Motto <cite title="Source Title">MHB website</cite></small>
		</blockquote>
		<h3>Maxims</h3>
		<blockquote>
			<p>It is through law that you will have great clarity regarding your religion</p>
			<small>Marsing's #1 Maxim <cite title="Source Title">MHB website</cite></small>
		</blockquote>
		<p class="d-print-none"><a href="@Enums.Nav.HomeMhbVer6.Index" class="btn btn-info btn-sm">Learn more &raquo;</a></p>

		@*ToDo: href="@Anchors.HomeMhbVer6.PagePurpos*@

		<Sovereign />

	</div>

	<div class="col-sm-3">
		<h3>Why the name?</h3>
		<p>
			<span class="fs-3 text-info">My</span> It is the intent to make your bible yours just like the items found under the <em>My Documents</em> folder on your computer are yours. <br />  If you accept that you are Israel and therefore a nation of priests and kings then the goal is to aid you in fulfilling
			<a class="btn btn-default btn-xs" href="#Deu171819" data-toggle="modal"> Deu 17:18-19 <span class="fa fa-comment-o"></span></a>
			(at least at some level) because over time you are making the bible your bible.<br />
			<span class="fs-3 text-info">Hebrew</span> Part of the focus is to get the English speaking user to know the source of the scripture, thereby relying less on translations and more on the original language.
			Knowing the original language means you know more about original intent.<br />
			<span class="fs-3 text-info">Bible</span> The most important thing one has is their relationship to the Creator and this relationship is a covenant.  The details of this covenant are found in the bible.<br />
		</p>

		@*
		ToDo:
		- verify fs-3 works for mhb-h3
		- data-toggle="modal
		*@

		<p class="d-print-none"><a href="@Enums.Nav.HomeMhbVer6.Index" class="btn btn-info btn-sm">Learn more &raquo;</a></p>
		@*ToDo: href="@Anchors.HomeMhbVer6.PagePurpos*@
	</div>
</div>

<hr>

<div class="row ">
	<h2>More thoughts on law...</h2>
	<div class="col-sm-3">

		<p>
			<strong>Public</strong>
			<blockquote>
				'That vast multitude, which includes the ignorant, the unthinking, and the credulous, who, in making purchases, do not stop to analyze, but are governed by appearance and general impressions.''
				<small>
					J.W. Collins Co. v. F.M. Paist Co. (DC Pa) 14 F2d 614.
					<cite title="Source Title">Ballentine Law Dic. 3rd ed</cite>
				</small>
			</blockquote>
		</p>
	</div>

	<div class="col-sm-4">
		<p>
			<strong>Contract Clause</strong>
			<blockquote>
				No State shall enter into any Treaty, Alliance, or Confederation; grant Letters of Marque and Reprisal; coin Money; emit Bills of Credit; make any Thing but gold and silver Coin a Tender in Payment of Debts; pass any Bill of Attainder, ex post facto Law, or Law <b>impairing the Obligation of Contracts</b>, or grant any Title of Nobility.
				<small>
					<cite title="Source Title">
						<a href="http://en.wikipedia.org/wiki/Contract_Clause">
							Article I, &sect; 10, clause 1 of the United States Constitution
							<i class="fas fa-external-link-alt" aria-hidden="true">&nbsp;</i><i class="fab fa-wikipedia-w" aria-hidden="true"></i>
						</a>
					</cite>
				</small>
			</blockquote>
		</p>
	</div>

	@*ToDo: update fab fa-wikipedia-w*@

	<div class="col-sm-5">
		<p>
			<strong>Torah Equity</strong>
			<blockquote>
				<em>A law form.</em> What I call the law form that man finds himself in as a result of being kicked out of the Garden of Eden. In contrast, the "Torah Eden" would be the law form that Adam was under while in the Garden of Eden. <br />
				This is a term that I made up. It helped me connect my religious beliefs with the concept of commercial redemption. It is if you will Biblical Commercial Redemption
				with Y'shua being the ultimate Accommodation party.
				<small>
					<cite title="Source Title">
						MHB
						@*<a href="@Url.Action("Details", "Glossary", new { id = 233 })">&hellip;</a>*@
					</cite>
					<br />
					<cite title="Source Title">
						UCC
						<a href="http://www.law.cornell.edu/ucc/3/3-103">Accommodation party U.C.C. &sect; 3-103. DEFINITIONS, (a)(17)(b) </a>
					</cite>
					<br />
					<cite title="Source Title">
						UCC
						<a href="http://www.law.cornell.edu/ucc/3/3-419 ">&sect; 3-419. INSTRUMENTS SIGNED FOR ACCOMMODATION.</a>
					</cite>
				</small>
			</blockquote>
		</p>
	</div>

</div>

@*
		public static class HomeMhbVer6
		{
			public const string PageIndexFromRoot = "/HomeMhbVer6/Index";
			public const string PageAbout = "./About";
			public const string PageAboutMe = "./AboutMe";
			public const string PagePurpose = "./Purpose";
			public const string PageVersion = "./AboutVersion";
			public const string PageTechnology = "./AboutTechnology";
			public const string PageReligion = "./AboutMyReligion";
		}
*@

@code {
	[Parameter] public Enums.MediaQuery MediaQuery { get; set; } = Enums.MediaQuery.SmOrMdOrLgOrXl;

	protected string? panelClass;
	protected string? initialyMakePanelOpen;

	protected string? TitleCSS;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		panelClass = MediaQuery == Enums.MediaQuery.Xs ? "panel panel-info " : "";
		initialyMakePanelOpen = MediaQuery == Enums.MediaQuery.Xs ? " " : " in"; // if this = " in" then it will be openned
	}
}