@page "/HealthChecks/BibleBooks"
@using MyHebrewBible.Client.Enums
@using MyHebrewBible.Client.Components

@using Page = MyHebrewBible.Client.Enums.Nav

<PageHeader PageEnum="Page.HealthCheckBibleBook" />


<div class="card mb-3 border-success">
	<div class="card-header">
		<h4 class="card-title text-center">Test some API Calls</h4>
	</div>
	<div class="card-body">
		<a class="btn btn-primary btn-xs" href="/api/bookchapterwithat/2/20" target="_blank">API BookChapter 2 20:5  with SAT</a>
		<a class="btn btn-primary btn-xs" href="/bookchapter/2/20/5/Exo-20">BookChapter 2:20 (Exo-20-5) </a>
	</div>
	<div class="card-body">
		<a class="btn btn-primary btn-xs" href="/api/bookchapterwithat/2/20" target="_blank">API BookChapter 2:20 with SAT</a>
		<a class="btn btn-primary btn-xs" href="/api/bookchapterwithat/39/4">API BookChapterWithAT Mal(39):4 [with SAT] </a>
	</div>
	<p class="card-footer text-center">FOOTER</p>
</div>


<div class="card mt-4 mb-3 border-warning">
	<div class="card-header">
		<h4 class="card-title text-center"><code>BibleBook.List.ToList()</code></h4>
	</div>
	<div class="card-body">
		<TableTemplate Items="BibleBook.List.OrderBy(o => o.Value ).ToList()">
			<TableHeader>
				<th class="text-info">Id</th>
				<th class="text-primary">Name</th>
				<th class="text-danger">Abrv</th>
				<th class="text-danger">Last Ch.</th>
				<th class="text-warning">
					<i class="@Enums.BibleBook.NavigationIcon.Previous"></i> Prev (1C)  
				</th>
				<th class="text-success">
					Next (LC) <i class="@Enums.BibleBook.NavigationIcon.Next"></i>
				</th>
				<th class="text-warnint"><code>ButtonText</code> Test</th>
				@* <th class="text-success">Next (LC)</th> *@
			</TableHeader>
			<RowTemplate>
				<td>@context.Value</td>
				<td>@context.Name</td>
				<td>@context.Abrv</td>
				<td>@context.LastChapter</td>
				<td>@context.NavigationPrevious(1).ButtonText</td>
				<td>@context.NavigationNext(context.LastChapter).ButtonText</td>
				<td>
					@if (BibleBook.FromValue(context.Value).Value != 1)
					{
						@BibleBook.FromValue(context.Value - 1).LastChapter <span>| </span> @context.NavigationPrevious(1).ButtonText

						if (@BibleBook.FromValue(context.Value - 1).LastChapter.ToString() == @context.NavigationPrevious(1).ButtonText.Substring(4))
						{
							<span>✔️</span>
						}
						else
						{
							<span>❌</span>
						}
					}
				</td>
				
@* 				<td>
					@if (BibleBook.FromValue(context.Value).LastChapter != BibleBook.FromValue(context.Value).LastChapter)
					{
						@BibleBook.FromValue(context.Value + 1).LastChapter
					}
				</td>
 *@
			</RowTemplate>
		</TableTemplate>
	</div>
	<p class="card-footer text-center"><code><small>BibleBook.List.Count</small></code>: @BibleBook.List.Count</p>
</div>

@code {
	//public override string NavigationNext(int Chapter) => (Chapter != LastChapter) ? (Chapter - 1).ToString() : $"{Exodus.Abrv} {Chapter + 1}";
	// BibleBook bibleBookPrev = BibleBook.FromValue((bookAndChapter.BibleBook.Value - 1));
	// <td>@BibleBook.FromValue(context.Value-1).LastChapter</td>
	//<td>@BibleBook.FromValue(context.Value).LastChapter</td>
}
