@page "/Sitemap"

@using Microsoft.AspNetCore.Components.Web
@using MyHebrewBible.Client.Enums
@using Page = MyHebrewBible.Client.Enums.Nav

@inject NavigationManager NavigationManager

<PageHeader PageEnum="Page.Sitemap" />

<div class="h5">

	<div class="d-flex justify-content-between">
		<ul class="fa-ul">
			<li class="fs-4">
				<span class="badge rounded-pill bg-info text-dark">Regular</span>
			</li>
			@foreach (var item in Nav.List.ToList()
				.Where(w => w.IsPartOfList(PageListType.SitemapPage) && !w.IsPartOfList(PageListType.HealthCheck))
				.OrderBy(o => o.Name))
			{
				<li class="py-1">
					<span class="fa-li"><i class="@item.Icon"></i></span>
					<a @onclick="@(e => ButtonClicked(item))"
						 title="@item.Title @item.HomeTitleSuffix" class="@item.TextColor text-decoration-underline">
						@item.Title
					</a>
					@if (item.Disabled)
					{
						<text>&nbsp;</text>

						<span class="text-black-50"><i class="fas fa-ban"></i></span>
					}
				</li>
			}
		</ul>

		<ul class="fa-ul">
			<li class="fs-4">
				<span class="badge rounded-pill bg-warning text-dark">Health Check</span>
			</li>

			@foreach (var item in Nav.List.ToList()
				.Where(w => w.IsPartOfList(PageListType.SitemapPage) && w.IsPartOfList(PageListType.HealthCheck))
				.OrderBy(o => o.Name))
			{
				<li class="py-1">
					<span class="fa-li"><i class="@item.Icon"></i></span>
					<a @onclick="@(e => ButtonClicked(item))"
						 title="@item.Title @item.HomeTitleSuffix" class="@item.TextColor text-decoration-underline">
						@item.Title
					</a>
					@if (item.Disabled)
					{
						<text>&nbsp;</text>

						<span class="text-black-50"><i class="fas fa-ban"></i></span>
					}
				</li>
			}
		</ul>
	</div>
</div>

@code {
	private void ButtonClicked(Nav nav)
	{
		NavigationManager!.NavigateTo(nav.Index);
	}
}
