@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.pClass">
	@H.Leader("Leader")
	We drink this cup in gratitude for our Messiah Yeshua coming down from heaven and becoming a man,
	to show us how to live and then dying for our sins and rising from the dead to offer us forgiveness
	and a new relationship with our Father in heaven.
	The first marriage covenant, which Ephraim broke, is dissolved
	<span class='text-decoration-underline fw-bold'>
		so all could be born anew to a new and better covenant with our resurrected (new) Groom and King
	</span>.
	This is the CUP of the New Heart and New Spirit of the Renewed Covenant.
</p>

<p class="@H.pClass">
	@H.Leader("Leader") <br />
	<i class='fas fa-quote-left'></i> Blessed are You Yehovah our Elohim, King of the universe Who creates the fruit of the Vine
	We toast to the Renewed Covenant that Messiah gave us to rescue us and redeem us!
</p>

@H.Toast("All Shout")

<p class="@H.pClass">
	@H.Reader("Reader", 1)
	Another fate of Ephraim in <b>Hosea 1:6</b> is receiving NO MERCY from God.
	God has declared that He is no longer her husband in <b>Hosea 2:2</b>.
	God is calling Ephraim to repent so that He may have mercy upon her.
	But she does not repent.There is no hope for Ephraim to return to God.
</p>

@code {
	// [Parameter, EditorRequired] public Enums.DisplayLanguage? Language { get; set; } = Enums.DisplayLanguage.English;
}
