@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.DetailContent.VerseContent

@if (Language == Enums.DisplayLanguage.English)
{
	<p class="@H.pClass">
		@H.Leader("Leader")
		We are set-free to know our identity in Messiah, aka, in Israel
	</p>

	<Hos_01_09_to_10 Language="Language" Title="Hosea 1:9-10" />

	<p class="@H.pClass">
		We embrace our new identity as the Israel of God, a people who had not known who they were for over 2730 years, but now we do.
		We toast to knowing our identity as the House of Israel thru the blood of Messiah Yeshua
	</p>

	@H.Toast("All Shout")

	<p class="@H.pClass">
		@H.Reader("Reader", 1)
		Very closely aligned with a return to identity is the keeping of God’s instructions.
		We just  read that Ephraim had called God’s Torah a strange thing in Hosea.
	</p>

	<Jer_31_19 Language="Language" Title="Jeremiah 31:19" />

	<p class="@H.pClass">
		Our testimonies of returning to God’s Instructions confirm this call to be the born again Ephraim because of his renewed covenant.
	</p>

	<Psa_78_09_to_11 Language="Language" Title="Psalms 78:9-11" />
}
else
{
	<p class="@H.pClass">
		@H.Leader("Lider")
		Somos liberados para conocer nuestra identidad en el Mesías, también conocida como en Israel.
	</p>

	<Hos_01_09_to_10 Language="Language" Title="Oseas 1:9-10" />

	<p class="@H.pClass">
		Abrazamos nuestra nueva identidad como el Israel de Dios, un pueblo que no sabía quiénes eran durante más de 2730 años, pero ahora lo sabemos.
		Brindamos por conocer nuestra identidad como la Casa de Israel a través de la sangre del Mesías Yeshua
	</p>

	@H.Toast("Todos Gritan")

	<p class="@H.pClass">
		@H.Reader("Reader", 1)
		Muy alineado con un retorno a la identidad está el guardar las instrucciones de Dios.
		Acabamos de leer que Efraím había llamado a la Torá de Dios algo extraño en Oseas.
	</p>

	<p class="@H.pClass">
		Nuestros testimonios de regresar a las Instrucciones de Dios confirman este llamado a ser el Efraím nacido de nuevo debido a su nuevo pacto.
	</p>

	<Psa_78_09_to_11 Language="Language" Title="Salmo 78:9-11" />
}

@code {
	[Parameter, EditorRequired] public Enums.DisplayLanguage? Language { get; set; } = Enums.DisplayLanguage.English;
	public const string pClass4 = "fs-4 text-center fw-bold";
}
