@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContent

<p class="@H.pClass">
	@H.Leader("Leader")
	We are set-free to know our identity in Messiah, aka, in Israel
</p>

<Hos_01_09_to_10 Title="Hosea 1:9-10" />

<p class="@H.pClass">
	We embrace our new identity as the Israel of God, a people who had not known who they were for over 2730 years, but now we do.
	We toast to knowing our identity as the House of Israel thru the blood of Messiah Yeshua
</p>

@H.Toast("All Shout")

<p class="@H.pClass">
	@H.Reader("Reader", 1)
	Very closely aligned with a return to identity is the keeping of God’s instructions.
	We just  read that Ephraim had called God’s Torah a strange thing in Hosea.
</p>

<Jer_31_19 Title="Jeremiah 31:19" />

<p class="@H.pClass">
	Our testimonies of returning to God’s Instructions confirm this call to be the born again Ephraim because of his renewed covenant.
</p>

<Psa_78_09_to_11 Title="Psalms 78:9-11" />

@code {
	
}
