@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContent

<p class="@H.pClass">
	@H.Leader("Leader")
	(there is Liberty in God's perfect Law)
</p>

<Jam_01_25 Title="James 1:25" />

<ul class="@H.pClass">
	<li>We are set-free to know God's Holy instructions.</li>
	<li>Ephraim can now call God's instructions good, right, holy and spiritual.</li>
	<li>We can say with David in Psalm 119</li>
</ul>

@H.ParagraphAllRead("All Read")

<Psa_119_12_to_16 Title="Psalms 119:12-16" />

<p class="@H.pClass">
	@H.Leader("Leader")
	We toast to joyfully to receiving God’s Holy Instructions
</p>

@H.Toast("All Shout")

<p class="@H.pClass">
	By our redemption thru the power of the blood of the Lamb of God and the giving of His Holy Spirit we have been set-free
	from the bondage of the sins that caused Ephraim Israel to be divorced from Yehovah and sifted among the nations. WE HAVE BEEN REDEEMED!
</p>

<p class="@H.pClass">
	We will all say together this phrase for each item 1-10, one at a time:
</p>

@H.ParagraphSetFree("All Shout");

<div class='bg-danger-subtle p-2'>
	<p class='@H.pClass fst-italic'>
		By His blood we have been set-free from... <u>1-10</u> ...<b>HalleluYah!</b>
	</p>
	<ol class="@H.pClass">
		<li>...sin & rebellion</li>
		<li>...anger, bitterness & resentment</li>
		<li>...fear</li>
		<li>...division (from Judah)</li>
		<li>...lies  - (from false teachers and our forefathers)</li>
		<li>...false religious systems with their false gods and false holidays,</li>
		<li>...curses - (the long term curses put on us by Yehovah because of our rebellion)</li>
		<li>...blindness  -  (anti Torah beliefs and identity)</li>
		<li>...calling ourselves gentiles (identity)</li>
		<li>...being jealous of Judah, anti Judah attitudes and behavior</li>
	</ol>
</div>

@code {
//	[Parameter, EditorRequired] public Enums.DisplayLanguage? Language { get; set; } = Enums.DisplayLanguage.English;
}
