@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.DetailContent.VerseContent


@if (Language == Enums.DisplayLanguage.English)
{
	<p class="@H.pClass">@H.Leader("Leader")
		We are reconciled to God. Let us also prepare ourselves to be reconciled to our brother Judah.
	</p>

	@H.ParagraphReader("Reader", 1)
	<Eze_37_15_to_23 Language="Language" Title="Ezekiel 37:15-23" />

	@H.ParagraphReader("Reader", 2)
	<Isa_11_12_to_13 Language="Language" Title="Isaiah 11:12-13" />
	<Isa_11_16 Language="Language" Title="Isaiah 11:16" />

	@H.ParagraphReader("Reader", 3)
	<Jer_50_04_to_05 Language="Language" Title="Jeremiah 50:4-5" />

	@H.ParagraphReader("Reader", 4)
	<Zec_10_06 Language="Language" Title="Zechariah 10:6" />
	<p class='fs-5 text-black-50 ms-3'>Read Zechariah 12:7-10</p>

	@H.ParagraphReader("Reader", 5)
	<p class="@H.pClass">
		It is not enough to be reconciled to our God, for our destiny in not heaven,  but a return to our covenant land.
		The reunion with Judah will most likely be in the Land under the authority of the King.
		This is when the One New Man is finally manifest. It is another way of saying the One Stick in the Father’s hand is the One New Man mentioned by Paul in <u>Ephesians 2:15</u>.
		The One New Man is the Israel of Yehovah! HalelluYah!.
	</p>

	@H.ParagraphAllRead("All Read")
	<Rev_05_09_to_10 Language="Language" Title="Revelation 5:9-10" />

	@H.Toast("All Shout")
}
else
{
	<p class="@H.pClass">
		@H.Leader("Líder")
		Renunciamos a todos los dioses falsos e ídolos, fiestas falsas y adoramos solo al único Dios verdadero de Israel.
	</p>

	@H.ParagraphReader("Lector", 1)
	<Eze_37_15_to_23 Language="Language" Title="Ezequiel 37:15-23" />

	@H.ParagraphReader("Lector", 2)
	<Isa_11_12_to_13 Language="Language" Title="Isaías 11:12-13" />
	<Isa_11_16 Language="Language" Title="Isaías 11:16" />

	@H.ParagraphReader("Lector", 3)
	<Jer_50_04_to_05 Language="Language" Title="Jeremías 50:4-5" />

	@H.ParagraphReader("Lector", 4)
	<Zec_10_06 Language="Language" Title="Zechariah 10:6" />
	<p class='fs-5 text-black-50 ms-3'>Lee Zacarías 12:7-10</p>

	<p class="@H.pClass">@H.Reader("Lector", 5)</p>
	<p class="@H.pClass">
		No basta con reconciliarnos con nuestro Dios, porque nuestro destino no es el cielo, sino un regreso a nuestra tierra del pacto.
		La reunión con Judá probablemente será en la Tierra bajo la autoridad del Rey.
		Aquí es cuando el Hombre Nuevo finalmente se manifiesta. Es otra forma de decir que el Palo Único en la mano del Padre es el Hombre Nuevo mencionado por Pablo en Efesios 2:15.
		¡El Hombre Nuevo es el Israel de Yahvé! ¡HalleluYah!
	</p>

	@H.ParagraphAllRead("Todos Gritan")
	<Rev_05_09_to_10 Language="Language" Title="Apocalipsis 5:9-10" />

	@H.Toast("Todos Gritan")
}

@code {
	[Parameter, EditorRequired] public Enums.DisplayLanguage? Language { get; set; } = Enums.DisplayLanguage.English;
}
