@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContent

<p class="@H.pClass">
	@H.Leader("Leader")
	We are reconciled to God. Let us also prepare ourselves to be reconciled to our brother Judah.
</p>

@H.ParagraphReader("Reader", 1)
<Eze_37_15_to_23 Title="Ezekiel 37:15-23" />

@H.ParagraphReader("Reader", 2)
<Isa_11_12_to_13 Title="Isaiah 11:12-13" />
<Isa_11_16 Title="Isaiah 11:16" />

@H.ParagraphReader("Reader", 3)
<Jer_50_04_to_05 Title="Jeremiah 50:4-5" />

@H.ParagraphReader("Reader", 4)
<Zec_10_06 Title="Zechariah 10:6" />
<p class='fs-5 text-black-50 ms-3'>Read Zechariah 12:7-10</p>

@H.ParagraphReader("Reader", 5)
<p class="@H.pClass">
	It is not enough to be reconciled to our God, for our destiny in not heaven,  but a return to our covenant land.
	The reunion with Judah will most likely be in the Land under the authority of the King.
	This is when the One New Man is finally manifest. It is another way of saying the One Stick in the Father’s hand is the One New Man mentioned by Paul in <u>Ephesians 2:15</u>.
	The One New Man is the Israel of Yehovah! HalelluYah!.
</p>

@H.ParagraphAllRead("All Read")
<Rev_05_09_to_10 Title="Revelation 5:9-10" />

@H.Toast("All Shout")

@code {
	
}
