@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContent

@H.ParagraphLeader("Leader")
<Jer_03_18 Title="Jeremiah 3:18" />

@H.ParagraphReader("Reader", 1)
<Jer_50_19 Title="Jeremiah 50:19" />

<p class='fs-4 fw-bold text-center'>
	A <mark>Greater Exodus</mark> than the one from Egypt is coming
</p>

@H.ParagraphReader("Reader", 2)
<Jer_16_14_to_15 Title="Jeremiah 16:14-15" />

@H.ParagraphReader("Reader", 3)
<Eze_36_24_to_25 Title="Ezekiel 36:24-25" />

@H.ParagraphReader("Reader", 4)
<Jer_31_07_to_08 Title="Jeremiah 31:7-8" />

<p class="@H.pClass">
	@H.Leader("Leader")<br />
	We drink joyfully of this last cup in expectation of the coming of the Kingdom of our Messiah Yeshua and of the Restoration of All Israel.<br />
	Let us toast to completing our journey from the nations back to our homeland.
</p>

@H.Toast("All Shout")

<p class="@H.pClass">
	@H.Leader("Leader")<br />
	Those of us who understand our true identity in Messiah, aka “in Israel”,  have begun to cry out for our final deliverance.
	We are tired of Egypt and our long exile, even in this abundant and prosperous land, for we now yearn for the Land of our Fathers.
	We are drawn to our Roots, to our Fathers ancient paths, to our heritage, to our true identity, and most importantly, to our awesome Bride-Groom of Messiah.
</p>

<p class="@H.pClass">
	We desire that Heaven hear us, breaking the boundaries that limit us,
	and that Yehovah send our Messiah to lead us HOME, where our inward spirit is leading us.
</p>

@H.ParagraphReader("Reader", 5)
<Rev_22_17 Title="Revelation 22:17" />
<Rev_22_20 Title="Revelation 22:20" />

@code {
	
}
