@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContent

<p class="@H.p4CenterBoldClass">Blessing God AFTER the meal</p>

@H.ParagraphAllRead("All Read")

<Deu_08_10 Title="Deuteronomy 8:10" />

<p class="@H.pClass">
	@H.Reader("Reader", 1)
	In our Renewed Covenant redemption, we are called to become a Holy people and a nation who was once an unholy nation.
	We are called to be obedient children.
</p>

<FirstPeter_01_14_to_15 Title="1 Peter 1:14-15" />

@H.ParagraphReader("Reader", 2)
<Lev_20_7_to_8 Title="Leviticus 20:7-8" />

@H.ParagraphReader("Reader", 3)
<Hos_14_04_to_5 Title="Hosea 14:4-5" />

@code {
	
}
