@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContent

@if (Language == Enums.DisplayLanguage.English)
{
	<p class="@H.p4CenterBoldClass">Blessing God AFTER the meal</p>

	@H.ParagraphAllRead("All Read")

	<Deu_08_10 Language="Language" Title="Deuteronomy 8:10" />

	<p class="@H.pClass">
		@H.Reader("Reader", 1)
		In our Renewed Covenant redemption, we are called to become a Holy people and a nation who was once an unholy nation.
		We are called to be obedient children.
	</p>

	<OnePe_01_14_to_15 Language="Language" Title="1 Peter 1:14-15" />

	@H.ParagraphReader("Reader", 2)
	<Lev_20_7_to_8 Language="Language" Title="Leviticus 20:7-8" />

	@H.ParagraphReader("Reader", 3)
	<Hos_14_04_to_5 Language="Language" Title="Hosea 14:4-5" /> 

}
else
{
	<p class="@H.p4CenterBoldClass">Bendiciendo a Dios DESPUÉS de la comida</p>

	@H.ParagraphAllRead("Todos Gritan")

	<Deu_08_10 Language="Language" Title="Deuteronomio 8:10" />

	<p class="@H.pClass">
		@H.Reader("Lector", 1)
		En nuestra redención del Nuevo Pacto, estamos llamados a convertirnos en un pueblo santo y una nación que antes era una nación impía.
		Estamos llamados a ser hijos obedientes.
	</p>

	<OnePe_01_14_to_15 Language="Language" Title="1 Pedro 1:14-15" />

	@H.ParagraphReader("Lector", 2)
	<Lev_20_7_to_8 Language="Language" Title="Levítico 20:7-8" />

	@H.ParagraphReader("Lector", 3)
	<Hos_14_04_to_5 Language="Language" Title="Oseas 14:4-5" />

}
@code {
	[Parameter, EditorRequired] public Enums.DisplayLanguage? Language { get; set; } = Enums.DisplayLanguage.English;
}
