@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContent

<p class="@H.pClass">
	@H.Leader("Leader")
	Our people left Egypt in such haste that their bread dough did not have time to rise and they did not take their leavened lump with them.
	They ate unleavened bread.
	Messiah is our unleavened bread as He is without sin.
</p>

<p class='fs-5'>
	Tonight, we eat Matzah to recognize Yeshua our Messiah, Who has rescued us and whose Spirit causes us to walk in His ways of Torah.
</p>

@H.ParagraphReader("Reader", 1)
<Joh_06_35 Title="John 6:35" />
<Joh_06_38 Title="John 6:38" />
<Joh_06_51 Title="John 6:51" />

<p class="@H.pClass">
	@H.Leader("Leader")
	Blessed are You Yehovah our Elohim, King of the universe Who brings forth Bread from the Earth…
</p>

<p class="@pCenter">Eat the Matzah</p>

@code {
	
	public const string pCenter = "fs-5 fw-bold text-center my-3";
}
