@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.DetailContent.VerseContent

@if (Language == Enums.DisplayLanguage.English)
{
	<p class="@H.pClass">
		@H.Reader("Reader", 1)
		Many years after the children of Israel entered the Land promised to them in the covenant with Abraham,
		the tribes of Israel were in turmoil and conflict with each other.
		A portion of the tribes from the north were called The House of Israel and led by the tribe of Ephraim, the tribe of Joseph’s son.
		The southern tribes were called The House of Judah.
		From this is where we get the term Jews.
	</p>

	<p class="@H.pClass">
		@H.Reader("Reader", 2)
		The northern  tribes separated from their brothers in the south and were led down a path of rebellion by Jeroboam, a king from the tribe of Ephraim.
		They quickly descended into idolatry and apostasy  and built  altars in Dan and Bethel to replace Jerusalem and created a false priesthood to go with their idol worship.
		They even made golden calves and lifted them up as gods to the people like the incident at Mt.Sinai.
	</p>


	<p class="@H.pClass">@H.Reader("Reader", 3)</p>

	<p class="@H.pClass">
		The northern tribes cut themselves off from Judah and in a declaration said,
	</p>
	<OneKi_12_16 Language="Language" Title="1 Kings 12:16" />

	<p class="@H.pClass">
		In verse 19 it says
	</p>
	<OneKi_12_19 Language="Language" Title="1 Kings 12:19" />

	<p class="@H.pClass">
		God then declares
	</p>
	<OneKi_12_24 Language="Language" Title="1 Kings 12:24" />

	<p class="@pMaror">The Bitter Herbs - Maror</p>

	<p class="@H.pClass">@H.Leader("Leader")</p>
	<TwoKi_14_26 Language="Language" Title="2 Kings 14:26" />

	<p class="@H.pClass">
		@H.Reader("Reader", 4)
		We weep for the bitterness our ancestors felt as they experienced anger and rejection from Judah and throughout their years of rebellion against God.
		It must have been an increasingly lonely existence for them as they plunged themselves more deeply into spiritual darkness and distress.
		They had no way to be set-free as they had rejected the path of freedom that God had given them in His Torah.
	</p>

	<p class="@H.pClass">
		@H.Leader("Leader")
		Blessed are You Yehovah our Elohim, King of the universe,
		Who has sanctified us with His commandments, and commanded us to observe the eating of bitter herbs.
		<span class='fw-light fst-italic'>(Take enough to bring you to tears)</span>
	</p>

	<p class="@pMaror">Eat the Bitter herbs (with matzah)</p>
	
	<p class="@H.pClass">
		@H.Reader("Reader", 5)
		So God had a plan to use the rebellious House of Israel to redeem the world by sowing them into the nations.
		Yehovah divorced them and cast them out of the Land and they were stripped of their identity and memory of ever having been part of Israel.
	</p>

	<p class="@H.pClass text-center my-1">
		<span class='fw-bold text-decoration-underline'>This is much worse than exile.</span>
	</p>
	<p class="@H.pClass text-center my-1">
		<span class='text-danger fw-bold'>It is destruction of identity.</span>
	</p>

	<p class="@H.pClass">
		They cannot return and God cannot receive them back without a great plan of redemption.
		Which of course He has!
	</p>

	<p class="@H.pClass">
		@H.Reader("Reader", 6)
		The fate of Ephraim was to not be a people any longer and not be betrothed to Yehovah.
		The first sign of the redemption of the House of Israel from the nations where they had been banished and sifted is with the promise of a Renewed covenant
	</p>

	<Jer_31_31_to_33 Language="Language" Title="Jeremiah 31:31-33" />

	<p class="@H.pClass">
		@H.Reader("Reader", 7)
		Yeshua, the Messiah of Israel,  would come and walk among the people as a man and initiate the return of Ephraim by cutting a Renewed Covenant by His own blood to redeem the House of Israel and The House of Judah because they had broken the old marriage covenant.
		It would be a new MARRIAGE covenant and His resurrection would allow Him to remarry the divorced House of Israel.
		This is the gospel of the Kingdom, God’s master plan to rescue and redeem Ephraim from the nations and restore the broken bride of Israel.
	</p>

	<p class="@H.pClass">@H.Leader("Leader")</p>

	<Luk_22_19_to_20 Language="Language" Title="Luke 22:19-20" />
}
else
{
	<p class="@H.pClass">
		@H.Reader("Lector", 1)
		Muchos años después de que los hijos de Israel entraran en la Tierra prometida en el pacto con Abraham,
		las tribus de Israel estaban en conflicto y turmoil entre sí.
		Una porción de las tribus del norte fueron llamadas La Casa de Israel y lideradas por la tribu de Efraím, la tribu del hijo de José.
		Las tribus del sur fueron llamadas La Casa de Judá.
		De aquí es donde obtenemos el término judíos.
	</p>

	<p class="@H.pClass">
		@H.Reader("Lector", 2)
		Las tribus del norte se separaron de sus hermanos del sur y fueron conducidas por un camino de rebelión por Jeroboam, un rey de la tribu de Efraím.
		Rápidamente descendieron a la idolatría y la apostasía y construyeron altares en Dan y Betel para reemplazar a Jerusalén y crearon un sacerdocio falso para acompañar su adoración de ídolos.
		Incluso hicieron becerros de oro y los elevaron como dioses para el pueblo, como el incidente en el Monte Sinaí.
	</p>


	<p class="@H.pClass">@H.Reader("Lector", 3)</p>

	<p class="@H.pClass">
		Las tribus del norte se aislaron de Judá y en una declaración dijeron:
	</p>
	<OneKi_12_16 Language="Language" Title="1 Reyes 12:16" />

	<p class="@H.pClass">
		En el versículo 19 dice
	</p>
	<OneKi_12_19 Language="Language" Title="1 Kings 12:19" />

	<p class="@H.pClass">
		God then declares
	</p>
	<OneKi_12_24 Language="Language" Title="1 Reyes 12:24" />

	<p class="@pMaror">Las Hierbas Amargas - Maror</p>

	<p class="@H.pClass">@H.Leader("Lider")</p>
	<TwoKi_14_26 Language="Language" Title="2 Reyes 14:26" />


	<p class="@H.pClass">
		@H.Reader("Lector", 4)
		Lloramos por la amargura que sintieron nuestros antepasados al experimentar ira y rechazo de Judá y a lo largo de sus años de rebelión contra Dios.
		Debió haber sido una existencia cada vez más solitaria para ellos mientras se sumían más profundamente en la oscuridad y la angustia espiritual.
		No tenían manera de liberarse, ya que habían rechazado el camino de libertad que Dios les había dado en Su Torá.
	</p>

	<p class="@H.pClass">
		@H.Leader("Lider")
		Bendito eres Tú, Yahvé nuestro Elohim, Rey del universo,
		Quien nos ha santificado con Sus mandamientos y nos ha ordenado observar el consumo de hierbas amargas.
		<span class='fw-light fst-italic'>(Toma suficiente para que te haga llorar)</span>
	</p>

	<p class="@pMaror">Come las Hierbas Amargas (con matzá)</p>

	<p class="@H.pClass">
		@H.Reader("Lector", 5)
		Entonces Dios tuvo un plan para usar a la rebelde Casa de Israel para redimir al mundo al sembrarlos entre las naciones.
		Yahvé los divorció y los expulsó de la Tierra, y fueron despojados de su identidad y memoria de haber sido parte de Israel.

	<p class="@H.pClass text-center my-1">
		<span class='fw-bold text-decoration-underline'>Esto es mucho peor que el exilio.</span>
	</p>
	<p class="@H.pClass text-center my-1">
		<span class='text-danger fw-bold'>Es la destrucción de la identidad.</span>

	</p>
		No pueden regresar y Dios no puede recibirlos de vuelta sin un gran plan de redención.
		¡Que por supuesto Él tiene!
	</p>

	<p class="@H.pClass">@H.Reader("Lector", 6)</p>

	<Jer_31_31_to_33 Language="Language" Title="Jeremías 31:31-33" />

	<p class="@H.pClass">
		@H.Reader("Lector", 7)
		Yeshua, el Mesías de Israel, vendría y caminaría entre el pueblo como hombre e iniciaría el retorno de Efraím al cortar un Nuevo Pacto con Su propia sangre para redimir a la Casa de Israel y a la Casa de Judá porque habían roto el antiguo pacto matrimonial.
		Sería un nuevo pacto de MATRIMONIO y Su resurrección le permitiría volver a casarse con la Casa de Israel divorciada.
		Este es el evangelio del Reino, el plan maestro de Dios para rescatar y redimir a Efraím de las naciones y restaurar a la novia rota de Israel.
	</p>

	<p class="@H.pClass">@H.Leader("Lider")</p>

	<Luk_22_19_to_20 Language="Language" Title="Lucas 22:19-20" />
}

@code {
	[Parameter, EditorRequired] public Enums.DisplayLanguage? Language { get; set; } = Enums.DisplayLanguage.English;
	public const string pMaror = "fs-5 fw-bold text-center my-3";
}
