@page "/"
@using MyHebrewBible.Client.Enums

<PageTitle>My Hebrew Bible</PageTitle>

<div class="text-center">
	<img src="/images/MyHebrewBible.svg" class="img-fluid" />
</div>

<LoadingProgress>

	<div class="card card border-0 ">
		<div class="@MediaQuery.Xs.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Xs" /></div>
		<div class="@MediaQuery.Sm.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Sm" /></div>
		<div class="@MediaQuery.Md.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Md" /></div>
		<div class="@MediaQuery.Lg.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Lg" /></div>
		<div class="@MediaQuery.Xl.DivClass"><SidebarButtonsFlex MediaQuery="MediaQuery.Xl" /></div>
	</div>

</LoadingProgress>

