@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.pClass">
	@H.Leader("Líder")
	Bebemos esta copa en gratitud por nuestro Mesías Yeshua que descendió del cielo y se hizo hombre,
	para mostrarnos cómo vivir y luego morir por nuestros pecados y resucitar de entre los muertos para ofrecernos perdón
	y una nueva relación con nuestro Padre en el cielo.
	El primer pacto matrimonial, que Efraím rompió, se disuelve
	<span class='text-decoration-underline fw-bold'>
		para que todos puedan nacer de nuevo en un pacto nuevo y mejor con nuestro Novio y Rey resucitado (nuevo)
	</span>.
	Esta es la COPA del Nuevo Corazón y Nuevo Espíritu del Nuevo Pacto.
</p>

<p class="@H.pClass">
	@H.Leader("Líder") <br />
	<i class='fas fa-quote-left '></i> Bendito eres Tú, YHWH nuestro Elohim, Rey del universo, Quien crea el fruto de la Vid.
</p>

@H.Toast("Todos Gritan")

<p class="@H.pClass">
	@H.Reader("Lector", 1)
	Otro destino de Efraím en <b>Oseas 1:6</b> es no recibir MISERICORDIA de Dios.
	Dios ha declarado que ya no es su esposo en <b>Oseas 2:2</b>.
	Dios está llamando a Efraím a arrepentirse para que pueda tener misericordia de ella.
	Pero ella no se arrepiente. No hay esperanza para que Efraím regrese a Dios.
</p>

@code {
	
}
