@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContentEsp

<p class="@H.pClass">
	@H.Leader("Lider")
	Vuelve (arrepiéntete) a mí, Efraím, y tendré MISERICORDIA de ti --
</p>

<Jer_31_20 Title="Jeremías 31:20" />
<OnePe_02_10 Title="1 Pedro 2:10" />

<Jer_12_15 Title="Jeremías 12:15" />

@H.Toast("Todos Gritan")

<p class="@H.pClass">
	@H.Reader("Lector", 1)
	Como un golpe final fatídico para Efraím, el Reino del Norte o Casa de Israel, debían perder su identidad como Israel.
	Se convertirían en  <i>Lo-Ammi</i>, NO MI PUEBLO.
	Serían despojados de todas las asociaciones y recuerdos del Dios de Israel y, de hecho, Dios dice que les quitará las cosas de la Torá, ya que habían llamado a la Torá
	y sus instrucciones algo extraño.

	<Hos_02_11_to_12 Title="Oseas 2:11-12" />
</p>

<p class="@H.pClass">
	@H.Reader("Lector", 2)
	Pero Dios ha comenzado a restaurar la identidad de Efraím a través del mensaje del evangelio del Reino que Yeshua predicó.
	Efraím no ha sabido quién es debido a una maldición a largo plazo impuesta por Dios.
	El primer paso de regreso en este proceso de retorno es reconocer a Yeshua como SEÑOR y salvador y volver a guardar Su palabra.
</p>

@code {
	
}
