@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContentEsp

<p class="@H.pClass">
	@H.Leader("Lider")
	Somos liberados para conocer nuestra identidad en el Mesías, también conocida como en Israel.
</p>

<Hos_01_09_to_10 Title="Oseas 1:9-10" />

<p class="@H.pClass">
	Abrazamos nuestra nueva identidad como el Israel de Dios, un pueblo que no sabía quiénes eran durante más de 2730 años, pero ahora lo sabemos.
	Brindamos por conocer nuestra identidad como la Casa de Israel a través de la sangre del Mesías Yeshua
</p>

@H.Toast("Todos Gritan")

<p class="@H.pClass">
	@H.Reader("Lector", 1)
	Muy alineado con un retorno a la identidad está el guardar las instrucciones de Dios.
	Acabamos de leer que Efraím había llamado a la Torá de Dios algo extraño en Oseas.
</p>

<Jer_31_19 Title="Jeremías 31:19" />

<p class="@H.pClass">
	Nuestros testimonios de regresar a las Instrucciones de Dios confirman este llamado a ser el Efraím nacido de nuevo debido a su nuevo pacto.
</p>

<Psa_78_09_to_11 Title="Salmo 78:9-11" />

@code {
	
}
