@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContentEsp

@H.ParagraphLeader("Líder")
<Jer_03_18 Title="Jeremías 3:18" />

@H.ParagraphReader("Lector", 1)
<Jer_50_19 Title="Jeremías 50:19" />

<p class='fs-4 fw-bold text-center'>Un <mark>Éxodo Mayor</mark> que el de Egipto está por venir</p>

@H.ParagraphReader("Lector", 2)
<Jer_16_14_to_15 Title="Jeremías 16:14-15" />

@H.ParagraphReader("Lector", 3)
<Eze_36_24_to_25 Title="Ezequiel 36:24-25" />

@H.ParagraphReader("Lector", 4)
<Jer_31_07_to_08 Title="Jeremías 31:7-8" />


<p class="@H.pClass">
	@H.Leader("Líder")
	Bebemos con alegría de esta última copa en expectativa de la venida del Reino de nuestro Mesías Yeshua y de la Restauración de Todo Israel.<br />
	Brindemos por completar nuestro viaje desde las naciones de regreso a nuestra patria.
</p>

@H.Toast("Todos Gritan")

<p class="@H.pClass">
	@H.Leader("Líder")<br />
	Aquellos de nosotros que entendemos nuestra verdadera identidad en el Mesías, también conocida como “en Israel”, hemos comenzado a clamar por nuestra liberación final.
	Estamos cansados de Egipto y de nuestro largo exilio, incluso en esta tierra abundante y próspera, porque ahora anhelamos la Tierra de nuestros Padres.
	Nos sentimos atraídos por nuestras Raíces, por los caminos antiguos de nuestros Padres, por nuestra heredad, por nuestra verdadera identidad, y lo más importante, por nuestro impresionante Novio del Mesías.
</p>
<p class="@H.pClass">
	Deseamos que el Cielo nos escuche, rompiendo los límites que nos restringen,
	y que YHWH envíe a nuestro Mesías para guiarnos a CASA, donde nuestro espíritu interior nos está llevando.
</p>


@H.ParagraphReader("Lector", 5)
<Rev_22_17 Title="Apocalipsis 22:17" />
<Rev_22_20 Title="Apocalipsis 22:20" />

@code {
	
}
