@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContentEsp

<p class="@H.p4CenterBoldClass">Bendiciendo a Dios DESPUÉS de la comida</p>

@H.ParagraphAllRead("Todos Gritan")

<Deu_08_10 Title="Deuteronomio 8:10" />

<p class="@H.pClass">
	@H.Reader("Lector", 1)
	En nuestra redención del Nuevo Pacto, estamos llamados a convertirnos en un pueblo santo y una nación que antes era una nación impía.
	Estamos llamados a ser hijos obedientes.
</p>

<FirstPeter_01_14_to_15 Title="1 Pedro 1:14-15" />

@H.ParagraphReader("Lector", 2)
<Lev_20_7_to_8 Title="Levítico 20:7-8" />

@H.ParagraphReader("Lector", 3)
<Hos_14_04_to_5 Title="Oseas 14:4-5" />

@code {
	
}
