@using H = MyHebrewBible.Client.Features.Haggadah.Helper

<p class="@H.pClass">
	@H.Reader("Lector", 1)
	Hace mucho tiempo, nuestros antepasados vivieron en una tierra más allá del río Éufrates llamada Mesopotamia.
	Allí, un descendiente de Sem llamado Abram recibió de Dios la instrucción de ir a una tierra llamada Canaán.
	Así que Abram, junto con su esposa Sarai y muchos de Harán, viajaron a Canaán.
	Allí, Dios le dijo a Abraham que tendría muchos descendientes y viviría en esa tierra, y estableció con él un pacto eterno.
	Abram se convirtió en Abraham.
</p>
<p class="@H.pClass">
	@H.Reader("Lector", 2)
	El nieto de Abraham, Jacob, tuvo 12 hijos que se convirtieron en las 12 tribus de Israel.
	El undécimo hijo, José, fue envidiado por sus hermanos, arrojado a un pozo y luego vendido a traficantes de esclavos que lo llevaron a Egipto.
	Allí se convirtió en el segundo al mando de todo Egipto y encargado del suministro de alimentos de la nación.
	Durante una gran hambruna, toda la familia de José se trasladó a Egipto.
	El propósito de José al ser vendido como esclavo le fue revelado, y él se dio a conocer a sus hermanos.
</p>
<p class="@H.pClass">
	@H.Reader("Lector", 3)
	Muchos años después, los egipcios comenzaron a considerar al pueblo de Jacob/Israel como esclavos y les hicieron la vida muy difícil. Entonces clamaron a Dios por liberación. Recordaron a Abraham y las promesas que Dios le había dado, y oraron desesperadamente por un libertador que los rescatara de su opresión.
</p>
<p class="@H.pClass">
	@H.Reader("Lector", 4)
	Dios envió a Moisés, un levita, y en una zarza ardiente le dijo que confrontara al Faraón con las palabras: <b>Deja ir a mi pueblo</b>.
	El Faraón ignoró las súplicas de Moisés, por lo que Dios envió 10 plagas para destruir Egipto.
	La décima plaga, la muerte de los primogénitos, finalmente obligó al Faraón a dejarlos ir.
	En preparación para esta última plaga, Dios instruyó a los israelitas a elegir un cordero sin mancha de un año.
	Cuatro días después, debían matar al cordero, poner parte de su sangre en los postes de las puertas de sus casas y comer el cordero asado con hierbas amargas y pan sin levadura.
	No debían dejar nada hasta la mañana, y lo que quedara debían quemarlo con fuego.
	Esta comida se comió apresuradamente, con sandalias puestas y bolsas empacadas, listos para salir de Egipto.
	Estaban preparados para el décimo y último juicio, la muerte de todos los primogénitos en Egipto.
</p>
<p class="@H.pClass">
	@H.Reader("Lector", 5)
	Y sucedió que a medianoche murieron todos los primogénitos en la tierra de Egipto, incluso el ganado.
	<mark>
		“Pero cuando vea la sangre en el dintel y los postes de las puertas de las casas donde viven,
		pasaré sobre ustedes y ninguna plaga los alcanzará para destruirlos, y serán salvados”
	</mark>.
	Sin la muerte del cordero y la aplicación de su sangre, los hijos de Israel habrían sufrido el juicio de Dios.
</p>
<p class="@H.pClass">
	@H.Reader("Lector", 6)
	The Israelites left Egypt and were led by a pillar of cloud by day and of fire by night to a camp on a sandy shore on an arm of the Red Sea.
	Back in Egypt, Pharaoh changed his mind again and took horses and chariots to chase after the Israelites.
	Seeing the Egyptians coming, the people were terrified. Moses told the people,
	“do not be afraid, stand firm and see the deliverance of the Yehovah today. The Egyptians you see today, you will never see again. Yehovah will fight for you.”
</p>
<p class="@H.pClass">
	@H.Reader("Lector", 7)
	Entonces Dios le dijo a Moisés:
	“Levanta tu vara y extiende tu brazo sobre el mar para dividir las aguas, para que los israelitas puedan pasar por el mar en tierra seca”.
	Entonces el mar se retiró y apareció tierra seca.
	Los israelitas atravesaron el mar en tierra seca con una pared de agua a la izquierda y a la derecha.
	Los egipcios los persiguieron y los siguieron hacia el mar.
	Y Dios hizo que las ruedas de los carros se salieran y arrojó al ejército egipcio en confusión.
	Y los egipcios dijeron:
	“Huyamos de los israelitas porque Dios está luchando por ellos”.
</p>
<p class="@H.pClass">
	@H.Reader("Lector", 8)
	Entonces Dios le dijo a Moisés:
	“Extiende tu mano sobre el mar para que las aguas vuelvan sobre los egipcios.”
	Y Dios los arrastró a todos bajo el mar.
	Ninguno de ellos sobrevivió.
	Ese día Dios salvó a su pueblo y el pueblo vio el gran poder de Yahvé nuestro DIOS.
	El pueblo temió a Yahvé y puso su confianza en Él y en Moisés, su siervo.
</p>

@code {
	
	//protected string pClass = "class='fs-5'";
}
