@using H = MyHebrewBible.Client.Features.Haggadah.Helper
@using MyHebrewBible.Client.Features.Haggadah.VerseContentEsp

<p class="@H.pClass">
	@H.Reader("Lector", 1)
	Muchos años después de que los hijos de Israel entraran en la Tierra prometida en el pacto con Abraham,
	las tribus de Israel estaban en conflicto y turmoil entre sí.
	Una porción de las tribus del norte fueron llamadas La Casa de Israel y lideradas por la tribu de Efraím, la tribu del hijo de José.
	Las tribus del sur fueron llamadas La Casa de Judá.
	De aquí es donde obtenemos el término judíos.
</p>

<p class="@H.pClass">
	@H.Reader("Lector", 2)
	Las tribus del norte se separaron de sus hermanos del sur y fueron conducidas por un camino de rebelión por Jeroboam, un rey de la tribu de Efraím.
	Rápidamente descendieron a la idolatría y la apostasía y construyeron altares en Dan y Betel para reemplazar a Jerusalén y crearon un sacerdocio falso para acompañar su adoración de ídolos.
	Incluso hicieron becerros de oro y los elevaron como dioses para el pueblo, como el incidente en el Monte Sinaí.
</p>

<p class="@H.pClass">@H.Reader("Lector", 3)</p>

<p class="@H.pClass">
	Las tribus del norte se aislaron de Judá y en una declaración dijeron:
</p>
<OneKi_12_16 Title="1 Reyes 12:16" />

<p class="@H.pClass">
	En el versículo 19 dice
</p>
<OneKi_12_19 Title="1 Kings 12:19" />

<p class="@H.pClass">
	God then declares
</p>
<OneKi_12_24 Title="1 Reyes 12:24" />

<p class="@pMaror">Las Hierbas Amargas - Maror</p>

<p class="@H.pClass">@H.Leader("Lider")</p>
<TwoKi_14_26 Title="2 Reyes 14:26" />


<p class="@H.pClass">
	@H.Reader("Lector", 4)
	Lloramos por la amargura que sintieron nuestros antepasados al experimentar ira y rechazo de Judá y a lo largo de sus años de rebelión contra Dios.
	Debió haber sido una existencia cada vez más solitaria para ellos mientras se sumían más profundamente en la oscuridad y la angustia espiritual.
	No tenían manera de liberarse, ya que habían rechazado el camino de libertad que Dios les había dado en Su Torá.
</p>

<p class="@H.pClass">
	@H.Leader("Lider")
	Bendito eres Tú, Yahvé nuestro Elohim, Rey del universo,
	Quien nos ha santificado con Sus mandamientos y nos ha ordenado observar el consumo de hierbas amargas.
	<span class='fw-light fst-italic'>(Toma suficiente para que te haga llorar)</span>
</p>

<p class="@pMaror">Come las Hierbas Amargas (con matzá)</p>

<p class="@H.pClass">
	@H.Reader("Lector", 5)
	Entonces Dios tuvo un plan para usar a la rebelde Casa de Israel para redimir al mundo al sembrarlos entre las naciones.
	Yahvé los divorció y los expulsó de la Tierra, y fueron despojados de su identidad y memoria de haber sido parte de Israel.

<p class="@H.pClass text-center my-1">
	<span class='fw-bold text-decoration-underline'>Esto es mucho peor que el exilio.</span>
</p>
<p class="@H.pClass text-center my-1">
	<span class='text-danger fw-bold'>Es la destrucción de la identidad.</span>

</p>
		No pueden regresar y Dios no puede recibirlos de vuelta sin un gran plan de redención.
		¡Que por supuesto Él tiene!
	</p>

<p class="@H.pClass">
	@H.Reader("Lector", 6)
	El destino de Efraím fue dejar de ser un pueblo y no estar desposado con Yahvé. 
	La primera señal de la redención de la Casa de Israel de las naciones donde habían sido desterrados y tamizados es con la promesa de un Nuevo Pacto dado en
</p>


<Jer_31_31_to_33 Title="Jeremías 31:31-33" />

<p class="@H.pClass">
	@H.Reader("Lector", 7)
	Yeshua, el Mesías de Israel, vendría y caminaría entre el pueblo como hombre e iniciaría el retorno de Efraím al cortar un Nuevo Pacto con Su propia sangre para redimir a la Casa de Israel y a la Casa de Judá porque habían roto el antiguo pacto matrimonial.
	Sería un nuevo pacto de MATRIMONIO y Su resurrección le permitiría volver a casarse con la Casa de Israel divorciada.
	Este es el evangelio del Reino, el plan maestro de Dios para rescatar y redimir a Efraím de las naciones y restaurar a la novia rota de Israel.
</p>

<p class="@H.pClass">@H.Leader("Lider")</p>

<Luk_22_19_to_20 Title="Lucas 22:19-20" />

@code {

	public const string pMaror = "fs-5 fw-bold text-center my-3";
}
